<template>
  <div class="container-fluid">
    <div class="flow-text">
      <div class="form">
        <div class="row">
          <div class="col-sm-0 col-md-1 col-lg-2"></div>
          <div class="col-sm-0 col-md-10 col-lg-8 white">
            <div class="row">
              <div class="col-3 form-group" style="margin-top: 1em;">
                <select id="selEmpresa" class="form-control" required>
                  <option value="-1" disabled selected >-- SELECCIONE EMPRESA --</option>
                  <option v-for="emp in empresas" :value="emp.company_id"> {{ emp.business_name }} </option>
                </select>
              </div>
              <div class="col-3 form-group" style="margin-top: 1em;">
                <select id="idUnidad" class="form-control" required>
                  <option value="-1" disabled selected >-- SELECCIONE UNIDAD --</option>
                  <option v-for="uni in unidades" :value="uni.unit_id" :data-companyid="uni.company_id"> {{ uni.description }} </option>
                </select>
              </div>
              <div class="col-3 form-group" style="margin-top: 1em;">
                <select id="sucursal" class="form-control">
                  <option value="-1" disabled selected >-- SELECCIONE SUCURSAL --</option>
                  <option v-for="sucursal in sucursales" :value="sucursal.branch_id"> {{ sucursal.description }} </option>
                </select>
              </div>
              <div class="col-3 form-group" style="margin-top: 1em;">
                <select name="" id="estatus" class="form-control">
                  <option value="-1" disabled >-- SELECCIONE ESTATUS --</option>
                  <option value="0">-- INACTIVOS --</option>
                  <option value="1" selected >-- ACTIVOS --</option>
                  <option value="2">-- TODOS --</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col content-width">
                <div class="col-12">
                  <ul class="tabs">
                    <li class="tab col s4"><a href="#test2" class="active">Datos cliente</a></li>
                    <li class="tab col s4"><a href="#test3">Datos de asignación</a></li>
                    <li class="tab col s4"><a href="#test4">Estadísticas</a></li>
                  </ul>
                </div>
                <div id="test2" class="col-12 test">
                  <div class="row">
                    <div class="col-4  input-field">
                      <input type="text" id="apaterno" class="validate" :value="data.short_name" >
                      <label for="APaterno" class="active">Nombre corto:</label>
                    </div>
                    <div class="col-8 input-field">
                      <input type="text" id="AMaterno" class="validate" :value="data.business_name" >
                      <label for="amaterno" class="active">Razón social:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7 input-field">
                      <input type="text" id="rfc" class="validate" :value="data.rfc" >
                      <label for="rfc" class="active">R.F.C.:</label>
                    </div>
                    <div class="col-5 form-group">
                      <select id="selecPais" class="form-control" @change='cargarEstados()' >
                        <option value="-1" disabled selected>-- SELECCIONE PAIS --</option>
                        <option v-for="pais in paices" :value="pais.country_id"> {{ pais.name }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 form-group">
                      <select id="selecEstado" class="form-control" @change="cargarCiudades()" >
                        <option value="-1" disabled selected>-- SELECCIONE ESTADO --</option>
                      </select>
                    </div>
                    <div class="col-4 form-group">
                      <select id="selecCiudad" class="form-control" @change="cargarColonias()" >
                        <option value="-1" disabled selected>-- SELECCIONE CIUDAD --</option>
                      </select>
                    </div>
                    <div class="col-4 form-group">
                      <select id="selecColonia" class="form-control">
                        <option value="-1" disabled selected>-- SELECCIONE COLONIA --</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 input-field">
                      <input type="text" id="address" class="validate" :value="data.address" >
                      <label for="address" class="active">Dirección:</label>
                    </div>
                    <div class="col-4 input-field">
                      <input type="text" id="phone" class="validate" :value="data.phone_one" >
                      <label for="phone" class="active">Teléfono:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 input-field">
                      <input type="text" id="contacto" class="validate" :value="data.contact" >
                      <label for="phone" class="active">Contacto:</label>
                    </div>
                    <div class="col-6 input-field">
                      <input type="text" id="email" class="validate" :value="data.email" >
                      <label for="phone" class="active">E-mail:</label>
                    </div>
                  </div>
                </div>
                <div id="test3" class="col-12 test">
                  <div class="col s10 m10 l12">
                    <div class="col s12 m12 l4 input-field">
                      <input type="text" id="fnac" class="validate datepicker">
                      <label for="address" class="active">F.Inicio Contrato:</label>
                    </div>
                    <div class="col s12 m12 l4 input-field">
                      <input type="text" id="phone" class="validate">
                      <label for="phone" class="active">Días de crédito:</label>
                    </div>
                    <div class="col s12 m12 l4 input-field">
                      <input type="text" id="phone" class="validate">
                      <label for="phone" class="active">IVA:</label>
                    </div>
                    <div id="trackme" style="display:none;">
                      <div class="col s12 m12 l6 input-field">
                        <input type="text" id="phone" class="validate">
                        <label for="phone" class="active">Usuario Portal:</label>
                      </div>
                      <div class="col s12 m12 l6 input-field">
                        <input type="text" id="phone" class="validate">
                        <label for="phone" class="active">Contraseña:</label>
                      </div>
                      <div class="col s12 m12 l12 input-field">
                        <input type="text" id="phone" class="validate">
                        <label for="phone" class="active">Web ID:</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="test4" class="col-12 test">
                  <div class="col s12 m12 l12 col-stylee" id="trackme" >
                    <div class="col s12 m12 l4">
                      <h6>Estadísticas</h6>
                      <div class="col s6 m4 l6 offset-m2 col-stylee">
                        <div class="col s12 m12 l12 col-style">
                          <label for="" class="label-style">Equipos activos:</label>
                        </div>
                        <div class="col s12 m12 l12 col-style">
                          <label for="" class="label-style">Equipos inactivos:</label>
                        </div>
                        <div class="col s12 m12 l12 col-style">
                          <label for="" class="label-style">Meses de contrato:</label>
                        </div>
                        <div class="col s12 m12 l12 col-style">
                          <label for="" class="label-style">F.Vencimiento Contrato:</label>
                        </div>
                      </div>
                      <div class="col s6 m4 l6 input-style">
                        <input type="text" id="" value="$" readonly>
                        <input type="text" id="" value="$" readonly>
                        <input type="text" id="" value="$" readonly>
                        <input type="text" id="" value="$" readonly>
                      </div>
                    </div>
                    <div class="col s12 m12 l8">
                      <h6>Indicadores</h6>
                      <div class="col s12 m12 l6 col-stylee">
                        <div class="col s6 m6 l7 col-stylee">
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Facturación x unidad mes:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Impuesto a cobrar:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Costo total mensual:</label>
                          </div>
                        </div>
                        <div class="col s6 m4 l5 input-style">
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                      </div>
                      <div class="col s12 m12 l6 col-stylee">
                        <div class="col s6 m6 l7 col-style">
                          <div class="cols12 m12 l12 col-style">
                            <label for="" class="label-style">Facturación mensual:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Ganancia neta:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">indicadores/impuesto:</label>
                          </div>
                        </div>
                        <div class="col s6 m4 l5 input-style">
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col row">
                      <div class="col s12 m12 l5 col-stylee">
                        <div class="col s6 m6 l6 col-stylee">
                          <p>&nbsp; </p>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Costo x Renta APN:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Comisión permanente:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Comisión vendedor/Dis</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Costo instalación/comodato:</label>
                          </div>
                        </div>
                        <div class="col s3 m3 l3 input-style">
                          <p>Mensual</p>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                        <div class="col s3 m3 l3 input-style">
                          <p>Total</p>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                      </div>
                      <div class="col s12 m12 l7 col-style">
                        <table id="table_id" class="striped bordered">
                          <thead>
                            <tr>
                              <th>Telefono</th>
                              <th>Nombre</th>
                              <th>Estatus</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Lorem ipsun</td>
                              <td>Lorem ipsun</td>
                              <td>Lorem ipsun</td>
                            </tr>
                            <tr>
                              <td>Lorem ipsun</td>
                              <td>Lorem ipsun</td>
                              <td>Lorem ipsun</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="cols12 m12 l12" id="logistico" style="display:none;" >
                    <div class="col s12 m12 l8">
                      <div class="col s12 m12 l7 col-stylee">
                        <h6>Estadisticas</h6>
                        <div class="col s6 m6 l6 col-stylee">
                          <div class="col s12 m12 l12 col-stylee text-right">
                            <label for="" class="label-style">Elementos turno matutino:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-1">
                            <label for="" class="label-style">Elementos turno vespertino:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-2">
                            <label for="" class="label-style">Ciclo de la nomina:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-2">
                            <label for="" class="label-style">Días laborales x día:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-1">
                            <label for="" class="label-style">$ Costo Elemento x día:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-2">
                            <label for="" class="label-style">Carga social:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-2">
                            <label for="" class="label-style">Comisión Empresa:</label>
                          </div>
                          <div class="col s12 m12 l12 col-stylee text-right mt-2">
                            <label for="" class="label-style">Total a cobrar:</label>
                          </div>
                        </div>
                        <div class="col s6 m4 l6 input-style radiobtn">
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <div class="col s12 m8 l12 col-stylee">
                            <div class="col s6 m6 l6 col-stylee">
                              <input type="radio" id="" value="$">
                              <label for="test2" class="rbtn">Semana</label>
                            </div>
                            <div class="col s6 m6 l6 col-stylee">
                              <input type="radio" id="" value="$">
                              <label for="test2" class="rbtn">Quincena</label>
                            </div>
                          </div>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                      </div>
                      <div class="col s12 m12 l5 col-stylee">
                        <h6>Indicadores</h6>
                        <div class="col s6 m6 l7 col-style">
                          <div class="cols12 m12 l12 col-style">
                            <label for="" class="label-style">Costo máximo x Ciclo:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">Facturación x ciclo:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">indicador s/iva:</label>
                          </div>
                          <div class="col s12 m12 l12 col-style">
                            <label for="" class="label-style">indicador c/iva:</label>
                          </div>
                        </div>
                        <div class="col s6 m4 l5 input-style">
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                          <input type="text" id="" value="$" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <btns_ :module="urlMod" :dashname='dashname' ></btns_>
      </div>
    </div>
    <tbl_ :head="head" ord="short_name" modo="asc" nomId="customer_id" :module="urlMod"></tbl_>
  </div>
</template>


<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import btnActns_ from '../../utileria/botonera';
import tbl_ from '../../utileria/loadTable';

let allInpts = '',
  inselect = '',
  innormal = ''
export default {
  components: {
    btns_: btnActns_,
    tbl_: tbl_
  },
  data() {
    return {
      head: [{ 'cve': 'cve' }, { 'short_name': 'nombre' }, { 'business_name': 'Razón Social' } ],
      urlMod: 'customers',
      borrar: '',
      listDel: [],
      userId: localStorage.getItem('id_usuario'),
      empresas: [],
      unidades: [],
      sucursales: [],
      paices: [],
      edos: [],
      ciudades: [],
      colonias: [],
      data: [],
      dashname: 'FACTURACIÓN'
    }
  },
  methods: {
    guardar_(action) {
      if (this.validate_required()) {
        //
        let param = {
            //
            typed: this.userId
          },
          datos = '',
          urlMod = this.esteModulo
        action == 0 ? url = '/' + urlMod + '/store' : url = '/' + urlMod + '/update/';
        switch (action) {
          case 0:
            // Agregar Nuevo Registro
            //console.log('Nueva: ', param)
            methodsBus.$emit('guardarAjax', [{
              'event': 'saveResp',
              'tipo': '',
              'url': url,
              'data': param,
              'metodo': 'POST',
              'header': 'form-data'
            }])
            break;
          case 1:
            // Actualizar Registro Existente
            //console.log('Modifica: ', datos)
            methodsBus.$emit('guardarAjax', [{
              'event': 'upDateResp',
              'tipo': '',
              'url': url + datos,
              'data': '',
              'metodo': 'PUT',
              'header': 'form-data'
            }])
            break;
        }
      }
    },
    eliminar_() {
      var lista = '',
        text = '',
        line = document.createElement('hr'),
        ul = document.createElement('ul'),
        div = document.createElement('div')
      for (var d in this.listDel) {
        lista = document.createElement('li')
        text = document.createTextNode(this.listDel[d])
        lista.appendChild(text)
        ul.appendChild(lista)
      }
      div.appendChild(ul)
      div.insertAdjacentElement('beforeEnd', line)
      swal({
          title: "Desea Eliminar...",
          text: '',
          content: div,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            let params = {
              ids: this.borrar,
              typed: this.userId
            }
            methodsBus.$emit('listarAjax', [{
              'event': 'respDel',
              'tipo': '',
              'url': '/' + this.urlMod + '/delete',
              'data': params,
              'metodo': 'POST',
              'header': 'x-www-form-urlencoded'
            }])
            dataBus.$on('respDel', (respElim) => {
              //console.log(respElim)
              if (respElim.success) {
                swal(respElim.message, {
                  icon: "success",
                });
                this.borrar = ''
                this.listDel = []
                dataBus.$emit('refresTable', 0)
              } else {
                swal(respElim.message, {
                  icon: 'error'
                })
              }
            })

          } else {
            swal("Operación Cancelada...", {
              icon: 'info'
            });
            dataBus.$emit('refresTable', 0)
          }
        });
    },
    inputsClear() {
      let obj = [{
        element: inselect,
        type: 'select'
      }, {
        element: innormal,
        type: 'input'
      }]
      for (var v in obj) {
        obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        }) : $(obj[v].element).val('').css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        })
      }
      this.descPto = ''
      $(".form label").removeClass('active')
    },
    validate_required() {
      var control = 0;
      //VALIDACION DE FORMULARIO.
      $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
        if (e.tagName === "INPUT") {
          //valido que todo los imput este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
          //valido lo correos
          if (e.type === "email") {
            var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
            if (!regex.test($("#" + idinput).val().trim())) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
          //Valido los numero telefonicos
          else if (e.type === "tel") {
            if (isNaN(e.value)) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else if (e.value.length < 9) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else {
              $(e).removeClass("requerido");
            }
          }
        } else if (e.tagName === "TEXTAREA") {
          //valido que todo los textarea este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        } else if (e.tagName === "SELECT") {
          console.log()
          if ($(e).attr('required') && $(e).val() <= 0) {
            control = 1 + control;
            $(e).addClass("requerido");
          } else if (e.value === "0") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        }
      });
      if (control === 0) {
        return true;
      } else {
        Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
        return false
      }
    },
    cargarEstados() {
          methodsBus.$emit('listarAjax', [{'event':'listEdosResp', 'tipo': 'customers', 'url': '/states/search?order=asc&column_order=name&active=1&country_id='+$("#selecPais").val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
    },
    cargarCiudades() {
      methodsBus.$emit('listarAjax', [{'event':'listCdsResp', 'tipo': 'companies', 'url': '/cities/search?order=asc&column_order=name&active=1&state_id='+$('#selecEstado').val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
    },
    cargarColonias() {
      methodsBus.$emit('listarAjax', [{'event':'listColResp', 'tipo': 'companies', 'url': '/neighborhoods/search?order=asc&column_order=name&active=1&city_id=' + $('#selecCiudad').val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
    }
  },
  mounted() {
      $('#dashMenu').hide()
      dataBus.$emit('titulo', 'Catálogo de Clientes');
      dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "")
    eventBus.$on('clearFrom_' + this.urlMod, (ac) => {
      this.inputsClear()
    })
    eventBus.$on('btnAct_' + this.urlMod, (event, action) => {
      if (event === 'guardar_' + this.urlMod) {
        this.guardar_(action)
      }
      if (event === 'editar_' + this.urlMod) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.urlMod, 1)
        dataBus.$emit('btnsToggle_' + this.urlMod, "", allInpts);
      }
      if (event === 'nuevo_' + this.urlMod) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.urlMod, 1)
        dataBus.$emit('btnsToggle_' + this.urlMod, "", allInpts);
        this.inputsClear()
      }
      if (event === 'cancelar_' + this.urlMod) {
        dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + this.urlMod, 0)
      }
      if (event === 'eliminar_' + this.urlMod) {
        this.eliminar_()
      }
      if (event === 'recarga_' + this.urlMod) {
        dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "");
        this.inputsClear()
        eventData.$emit('offPaginador_companies', 0)
      }
    })
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Empresa',
        'tipo': 'customers',
        'url': '/companies/search?active=1&column_order=business_name&order=asc',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Unidad',
        'tipo': 'customers',
        'url': '/units/search?active=1&column_order=description&order=asc',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    // Pendiente por API ---
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Sucursales',
        'tipo': 'customers',
        'url': '/branches/search?active=1&column_order=description&order=asc',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Paises',
        'tipo': 'customers',
        'url': '/countries/search?order=asc&column_order=name&active=1',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    
    // Pestañas --->
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });
    $('ul.tabs').tabs();
  },
  beforeCreate() {
    let urlMod = 'customers'
    dataBus.$on('upDateResp', (updtResp) => {
      let echo = '',
        msg = ''
      updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (updtResp.success) {
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        eventBus.$emit('echo_' + urlMod, true)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    dataBus.$on('saveResp', (saveResp) => {
      let echo = '',
        msg = ''
      saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (saveResp.success) {
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    // select Empresas
    dataBus.$on('select_Empresa', (empresas) => {
        this.empresas = empresas
    })
    // select de unidades
    dataBus.$on('select_Unidad', (units) => {
        units.success === false ? this.unidades = [] : this.unidades = units
    })
    // Select Sucursales
    dataBus.$on('select_Sucursales', (suc) => {
        suc.success === false ? this.sucursales = [] : this.sucursales = suc
    })
    // select Paíces
    dataBus.$on('select_Paises', (countries) => {
        countries.success === false ? this.paices = [] : this.paices = countries
    })
    // select Estados
    dataBus.$on('listEdosResp',(edos) => {
      this.edos = edos;
    });
    // select Ciudades
    dataBus.$on('listCdsResp', (cdsResp) => {
      this.ciudades = cdsResp;
    });
    // select Colonias
    dataBus.$on('listColResp', (colResp) => {
      this.colonias = colResp;
    });
    // Para llenar el formulario
    dataBus.$on('lAjaxResp_' + urlMod, (resp) => {
      this.data = resp[0]
      $("#sucursal").val(this.data.branch_id)
      console.log(resp[0])
      $(".form label").addClass('active')
      dataBus.$emit('btnsEdit_' + urlMod, 1);
    })
    // Para el DataTable
    methodsBus.$emit('listarAjax', [{
      'event': 'dataTable_' + urlMod,
      'tipo': urlMod,
      'url': '/' + urlMod + '/data-viewer?column=short_name&direction=asc&search_operator=like&search_input=&per_page=5',
      'data': '',
      'metodo': 'GET',
      'header': 'x-www-form-urlencoded'
    }])
  },
  updated(){
  }
}
</script>
<style scoped>

</style>
<style>

</style>