/* LOG IN */
* {
  text-transform: uppercase;
}

input[type=text],
input[type=password] {
  font-size: 16px;
  border-bottom: 1px solid #34396a;
  color: #34396a;
  outline: none;
  background: #f6f9f8;
  border: none;
  margin-bottom: 0px;
  box-shadow: none;
  padding-left: 5px !important;
  width: 99.5% !important;
  background-image: none !important;
}

.input-field label.active {
  color: #34396a !important;
}

.input-field input.active {
  box-shadow: #34396a !important;
}

.btn-enviar {
  width: 100%;
  background-color: #34396a !important;
  color: white !important;
  border-radius: 0%;
}

.btn:hover,
.btn-large:hover {
  background: #eee;
}

.logosiafi-login {
  width: 25em;
}

#login h1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

/*---menu iconos nuevo------*/

#navbar ul li:before {
  content: "";
  margin: auto;
  width: 27px;
  height: 23px;
  display: block;
  background-size: 27px;
  background-image: url(../images/bank/HSBC_32.png);
}

/*---menu iconos fin------*/

/*---------------------------------
  Horizontal Menu
  -----------------------------------*/

.business-color {
  background-color: #34396a;
}

.logo {
  width: 45px;
  margin: 7px;
}

h1 span.logo-text {
  padding-left: 0px;
  font-size: 2rem;
  line-height: 5rem;
  margin-left: .5rem;
  letter-spacing: .5rem;
}

nav .button-collapse {
  margin: 0px;
  padding-right: 1em;
}

/*--- menu icons ---*/

.margin-row {
  margin-top: 4em;
}

#content-menu {
  text-align: center;
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04), 0 1px 5px 0 rgba(0, 0, 0, 0.02), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
  position: fixed;
  z-index: 1;
}

.content-width{
  height: 21em;
  background-color: white;
  padding: 0px !important;
}

#content-menu span {
  border: 0px !important;
}

div#content-menu div.sub-content-new {
  min-width: 5em;
}

div#content-menu div.sub-content-new p {
  font-size: 12px
}

#icon-menu {
  width: 1.5em;
  padding-top: .5em;
}

h4 {
  text-align: center;
  color: #34396a;
}

div.sub-content-new a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
}

div.sub-content-new a:hover {
  background-color: #f2f2f2 !important
}

#style-menu {
  display: -webkit-inline-box;
  border: 0 !important;
}

.activ {
  background: #c3c3c3b0;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  min-width: 300px;
  margin-left: -1px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

h6 {
  padding: 1em;
}

/*nav-chat*/

.collection .collection-item.avatar {
  padding: 10px 20px;
  margin-bottom: 1em;
}

/* chat*/

.item-contact {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

p {
  text-align: center;
  margin: 0px;
  color: black;
}

.circle {
  width: 20px !important;
  height: 20px !important;
}

/***************************/

/*start-main*/

.btn {
  width: 20em;
  margin-bottom: 1em;
  background-color: rgba(52, 57, 106, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  font-size: 11px;
}

div#main .content-uno i {
  margin: 0px;
}

div#main {
  text-align: left;
}

.btn:focus,
.btn-large:focus,
.btn-floating:focus {
  background-color: #eee;
}

.btn-options {
  width: 12em;
  font-size: inherit;
  padding: 0px .6rem !important;
  text-align: center;
  z-index: 0 !important;
  /*
  margin-left: 1%;
  margin-right: 2.3%; */
}

div#main a:hover {
  background: #ddd;
  color: #34396a;
}

.btn-more {
  position: fixed;
  right: 23px;
  bottom: 23px;
  z-index: 997;
}

.btn-floating.btn-large {
  background: #34396a !important;
}

h5 {
  text-align: center;
}

div.pagination li:hover {
  background-color: #34396a !important;
}

.input-style input[type=text]{    
  height: 1.5rem !important;
  background: #E2E5E7 !important;
  border-bottom: 0px !important;
  margin-bottom: .5em;
}

.input-field label {
  /* color: #4a4a4a !important; */
  left: 1rem !important;
}

#content-buttons {
  text-align: center;
}

.p {
  padding-left: 1em !important;
  padding-bottom: .2em !important;
  padding-top: .3em !important;
}

.col-stylee {
  padding: 0px !important;
}

.input-field {
  margin: 0em;
}

.input-field [type=text], select, input[type=search] {
  border-bottom: 1px solid rgba(52, 57, 106, 1) !important;
}

.input-field [type=text]:focus, select:focus, input[type=search]:focus {
  border-bottom: 1px solid rgba(52, 57, 106, 1) !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(52, 57, 106, 1) !important;
  box-shadow: 0 1px 0 0 rgba(52, 57, 106, 1) !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  border: rgba(52, 57, 106, 1) !important;
  background-color: rgba(52, 57, 106, 1) !important;
}

.form-control {
  background-image: linear-gradient(0deg,rgba(52, 57, 106, 1) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}

#style-hr {
  border-style: solid;
  border-width: 1px;
  border-color: #34396a;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}

.input-style {
  height: auto !important;
}

.label-style {
  color: #34396a !important;
  font-size: 13px !important;
}

/* .col-style {
  margin-bottom: 20px;
  padding: 0px;
  text-align: right;
} */
.col-style {
  margin: .8em 0em .8em 0em;
  padding: 0px !important;
  text-align: end;
  font-size: .5em;
}

.test {
  background: white;
  width: 100%;
}

/*+++++++++++TABS+++++++++++++++++++++*/

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0);
  will-change: left, right;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: white;
  border: 1px solid #dcd8d8;
  border-bottom: 0px !important;
  background: #34396a;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
}
.tabs .tab a {
  border-bottom: 1px solid #dcd8d8;
}

.tabs .tab a{
  color: #807e7e;
}
.tabs .tab{
  height: 30px;
  line-height: 30px;
}

/*++++++++++++++++++++++++++++++*/

/*---tabla---*/

/*++++++++++++++++++++++++++++++*/

div#main .content-uno .table p {
  text-align: center;
}

thead tr th {
  text-align: center;
  background-color: rgba(52, 57, 106, 1);
  color: rgba(255, 255, 255, 1);
  border: rgba(255, 255, 255, 1) solid 1px;
}

td,
th {
  /* border: 1px solid #d0cece; */
  padding: 0px;
}

td {
  padding-left: 1em;
}

a {
  color: #34396a;
}

.modal {
  max-height: 90%;
}

#padding-table {
  padding-left: 2%;
  padding-right: 2%;
  font-size: .86rem;
}

.modal-form-row {
  margin-bottom: 0px;
}

/*cmbox*/

.dropdown-content li>a,
.dropdown-content li>span {
  color: #34396a !important;
}

/*Paginación*/

.pagination li.active {
  background-color: #34396a;
  color: white;
}

/*Calendar*/

.picker__close,
.picker__today,
.picker__clear {
  color: #34396a !important;
}

.picker__day.picker__day--today {
  color: white;
  background: #a7a5a5;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  border-radius: 50%;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  background-color: #34396a;
}

/*end-Main*/

/***************************/

/*FOOter*/

#style-footer {
  text-align: center;
  display: block;
  width: 100% !important;
  line-height: 3rem;
}

.footer-style {
  bottom: 0px;
  position: fixed;
  width: 100%;
}

/**
* RBM: Estilos Adicionales
* 2018-02-16
**/

.btnBarText {
  background-color: rgba(52, 57, 106, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  inline-size: inherit;
  line-height: 25px !important;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .btnBarText {
    font-size: .2rem;
    width: 3rem;
  }
  i {
    font-size: .2rem
  }
}

@media only screen and (min-width: 1000px) {
  .btnBarText {
    font-size: .8rem;
    width: 7rem;
  }
  i {
    font-size: .5rem
  }
}

@media only screen and (min-width: 2000px) {
  .btnBarText {
    font-size: 1rem;
    width: 8rem;
  }
  i {
    font-size: 1rem
  }
}

.pagination li {
  z-index: 0;
}

button:disabled {
  background-color: rgba(125,125,125,1) !important;
}

input:disabled {
  background-color: rgba(233,236,239, 1) !important;
  border-radius: 5px !important;
  color: rgba(0, 0, 0, 1) !important;
}

.slectedRow {
  /* background-color: rgba(52, 57, 106, 1) !important; */
  /* background-color: rgba(52, 57, 109, .7) !important; */
  /* background-color: rgba(0, 40, 100, .7) !important; */
  background-color: rgba(0, 0, 50, 1) !important;
  color: rgba(255, 255, 255, 1);
  cursor: no-drop !important;
}

select {
  padding: 0 5px !important;
  /* width: 99% !important; */
}

select:disabled {
  color: rgba(0, 0, 0, 1) !important;
}

table tbody tr:hover {
  background-color: rgba(0, 0, 50, .3) !important;
  cursor: pointer;
}

table tbody input[type='checkbox'] + label{
  line-height: 0 !important;
  margin-bottom: 0rem !important;
  height: 17px !important;
}

#style-menu div {
  border: 0px !important;
  margin: 0em -.1em 0em -.1em;
}

.input-field label:disabled {
  color: rgba(0, 0, 0, 0.3) !important;
  left: 1rem !important;
}

.radiobtn label{
  color: #34396a!important;
  font-size: 13px;
}

#table_id {
  width: 100% !important;
  height: 150px !important;
}
.row {
  margin-bottom: 0 !important;
}
table tbody td:last-child {
  table-layout: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tbody td{
  padding: 0px 0px 0px 0px;
}

.radiobtn label {
  color: #34396a!important;
  font-size: 13px;
}

.rbtn {
  font-size: 13px!important;
  padding-left: 24px !important;
  color: #34396a;
}

#cargando{
  
}

/* Estilos para las alertas de Swit Alert */
.swal-button--roll {
  padding: 7px 19px;
  border-radius: 3px;
  background-color: rgba(52, 57, 106, 1);
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--roll:focus {
  background-color: rgba(52, 57, 106, 1) !important;
}

.swal-button--danger {
  background-color: rgba(255, 72, 65, 1) !important;
  /* font-size: 12px;
  padding: 7px 19px;
  border-radius: 3px; */
}

.swal-button--confirm {
  background-color: rgba(4, 92, 136, 1);
}

.swal-button--confirm:focus {
  background-color: rgba(4, 92, 136, 1);
}

.swal-button--cancel {
  background-color: rgba(4, 92, 136, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.swal-button--cancel:focus {
  background-color: rgba(4, 92, 136, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.swal-footer {
  text-align: right;
  padding-top: 13px;
  margin-top: 13px;
  padding: 13px 16px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.swal-content {
  text-align: left;
}