<template>
  <div class="col-12">
    <div class="col-sm-0 col-md-0 col-lg-0"></div>
    <div class="col-sm-12 col-md-12 col-lg-12 p text-center">
      <button id="btnNuevo" class="btnBarText" @click="btnEvent('nuevo_'+modulo, 0)">
        <i class="material-icons left">queue</i>Nuevo</button>

      <button id="btnEliminar" class="btnBarText" @click="btnEvent('eliminar_'+modulo, 0)">
        <i class="material-icons left">delete_forever</i>Eliminar</button>

      <button id="btnEditar" class="btnBarText" @click="btnEvent('editar_'+modulo, action)">
        <i class="material-icons left">edit</i>Editar</button>

      <button id="btnGuardar" class="btnBarText" @click="btnEvent('guardar_'+modulo, action)">
        <i class="material-icons left">save</i>Guardar</button>

      <button id="btnCancelar" class="btnBarText" @click="btnEvent('cancelar_'+modulo, 0)">
        <i class="material-icons left">cancel</i>ignorar</button>

      <button id="btnImprimir" class="btnBarText" @click="btnEvent('imprimir_'+modulo, 0)">
        <i class="material-icons left">description</i>Imprimir</button>

      <!-- <button id="btnBuscar" class="btnBarText" @click="btnEvent('buscar_'+modulo, 0)">
        <i class="material-icons left">search</i>Buscar</button> -->

      <button id="btnSalir" class="btnBarText" @click="btnSalirEvent()">
        <i class="material-icons left">exit_to_app</i>Salir</button>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-0"></div>
  </div>
</template>

<script>
import { dataBus } from '../main.js';
import { eventBus } from '../main.js';
let btnDis = "#btnEliminar, #btnEditar, #btnImprimir, #btnBuscar, #btnGuardar, #btnCancelar",
  btnActiv = "#btnNuevo, #btnSalir",
  btnsEditD = "#btnNuevo, #btnEliminar, #btnEditar, #btnImprimir, #btnBuscar, #btnSalir",
  btnsEditE = "#btnGuardar, #btnCancelar",
  btnsKnclD = "#btnEliminar, #btnEditar, #btnImprimir, #btnBuscar, #btnGuardar, #btnCancelar",
  btnsknclE = "#btnNuevo, #btnSalir",
  btnsSaveD = "#btnEliminar, #btnEditar, #btnImprimir, #btnBuscar, #btnGuardar, #btnCancelar",
  btnsSaveE = "#btnNuevo, #btnSalir";
export default {
  props: ['module', 'dashname'],
  data() {
    return {
      action: 0,
      modulo: this.module,
      modTit: this.dashname
    }
  },
  computed: {

  },
  methods: {
    btnDisabled(btnD, btnE) {
      let obj = [{
        element: btnD,
        flag: true,
        action: 'disabled'
      }, {
        element: btnE,
        flag: false,
        action: 'disabled'
      }]
      for (let value in obj) {
        $(obj[value].element).prop(obj[value].action, obj[value].flag);
      }
    },
    btnSalirEvent() {
      dataBus.$emit('titulo', this.modTit);
      this.$router.go(-1);
      $('#dashMenu').show()
    },
    btnEvent(event, action) {
      //console.log('Enviando btn: ', this.modulo, event, this.action)
      if (event === 'editar_' + this.modulo) {
        this.action = 1
        this.btnDisabled(btnsEditD, btnsEditE);
      }
      if (event === 'nuevo_' + this.modulo) {
        this.action = 0
        this.btnDisabled(btnsEditD, btnsEditE);
      }
      if (event === 'cancelar_' + this.modulo) {
        this.btnDisabled(btnsKnclD, btnsknclE);
      }
      if (event === 'guardar_' + this.modulo) {
        eventBus.$on('echo_' + this.modulo, (echo) => {
          if (echo){
            this.btnDisabled(btnsSaveD, btnsSaveE);
          }
        })
      }
      if (event === 'eliminar_' + this.modulo) {
        this.btnDisabled(btnDis, btnActiv);
      }
      eventBus.$emit('btnAct_' + this.modulo, event, this.action);
      /**
       * boton: opc = accion
       * Nuevo: 0 = Limpia los capos del formulario y pone la data.action en 0
       * Eliminar: 0 = Elimina el registro seleccionado
       * Editar: 0 = Edita los datos seleccionados de la tabla y pone la data.action en 1
       * Guardar: 0 = Valor de la data.action, Guarda Nuevos Datos
       *          1 = Valor de la data.action, Guarda datos Existentes
       * Cancelar: 0 = Cancela el registro seleccionado
       * Imprimir: 0 = Accede al modal de impresión de reporte
       * Buscar: 0 = Accede al formulario de búsqueda
       */
    }
  },
  beforeCreate(){
  },
  created() {
    // console.log(this.modulo)
    dataBus.$on('btnsToggle_' + this.modulo, (btnblock, btnDisBlock) => {
      this.btnDisabled(btnblock, btnDisBlock);
    })
    dataBus.$on('btnsEdit_' + this.modulo, (accion) => {
      accion === 1 ? this.btnDisabled('', '#btnEditar, #btnEliminar') : this.btnDisabled('#btnEditar, #btnEliminar', '');
    })
    dataBus.$on('btnEliminar_' + this.modulo, (accion) => {
      accion === 1 ? this.btnDisabled('', '#btnEliminar') : this.btnDisabled('#btnEliminar', '');
    })
    eventBus.$on('clearFrom_' + this.modulo, (btnOff) => {
      this.btnDisabled(btnsSaveD, btnsSaveE);
      eventBus.$emit('btnAct_' + this.modulo, 'recarga_'+this.modulo , '');
    })
  },
  mounted() {
    this.btnDisabled(btnDis, btnActiv);
  }
}
</script>
<style scoped>

</style>
<style>

</style>
