<template>
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper business-color">
        <h1 class="logo-wrapper">
            <router-link tag="a" class="brand-logo darken-1" :to="{ name: 'home'}" >
                <img src="../assets/logo-sisprovisa.svg" class="logo" alt="siafi logo" />
                <span class="logo-text hide-on-med-and-down" style="float: right;">IAFI</span>
            </router-link>
          <!-- a class="brand-logo darken-1">
            <img src="../assets/logo-sisprovisa.svg" class="logo" alt="siafi logo">
            <span class="logo-text hide-on-med-and-down" style="float: right;">IAFI</span>
          </a -->
        </h1>
        <h3 class="brand-logo center" > {{ titulo }} </h3>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#" data-activates="email" data-beloworigin="true" class="dropdown-button" @mouseover="desplegar()">
              <i class="material-icons">email
                <small class="notification-badge red accent-3">3</small>
              </i>
            </a>
          </li>

          <li>
            <a href="#" data-activates="notifications" data-beloworigin="true" class="dropdown-button" @mouseover="desplegar()">
              <i class="material-icons">notifications
                <small class="notification-badge orange accent-3">3</small>
              </i>
            </a>
          </li>

          <li>
            <a href="#" data-activates="chat-out" class="button-collapse show-on-large waves-light" @mouseover="colapsar">
              <i class="material-icons">person</i>
            </a>
          </li>
        </ul>
      </div>
      <!--window Email-->
      <ul id="email" class="dropdown-content">
        <li>
          <h6>Mensajes</h6>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!" class="grey-text text-darken-2">
            <span class="material-icons icon-bg-circle cyan small">email</span> Mensajes nuevos en Gmail</a>
          <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
        </li>
      </ul>

      <!--window Notificaciones-->
      <ul id="notifications" class="dropdown-content">
        <li>
          <h6>Notificaciones
            <span class="new badge">1</span>
          </h6>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!" class="grey-text text-darken-2">
            <span class="material-icons icon-bg-circle red small">monetization_on</span> Depositar nómina</a>
          <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
        </li>
      </ul>

      <!--chat-->
      <div id="nav-chat">
        <aside id="right-sidebar-nav hide-on-large-only" class="display-menu">
          <ul id="chat-out" class="side-nav rightside-navigation" style="background-color: #f1efef">
            <div class="row">
              <div id="chat" class="col s12">
                <div class="collection border-none">
                  <h4> {{ usuario }} </h4>
                  <!--ITEM CONTAc-->
                  <a href="#!" class="collection-item avatar border-none item-contact">

                    <p>USER NAME</p>
                    <img src="../assets/images/favicon/favicon-32x32.png" alt="" style="width: 18px; margin-left: 15em;">
                    <p>
                      <span class="medium-small" style="position: fixed; left:30px; color:#b5b3b3;">dd/mm/yy</span>
                      <span class="medium-small" style="position: fixed; right:30px; color:#b5b3b3;">5.00 AM</span>
                    </p>
                  </a>
                  <a href="#!" class="collection-item avatar border-none item-contact">
                    <p>USER NAME</p>
                    <img src="../assets/images/favicon/favicon-32x32.png" alt="" style="width: 18px; margin-left: 15em;">
                    <p>
                      <span class="medium-small" style="position: fixed; left:30px; color:#b5b3b3;">dd/mm/yy</span>
                      <span class="medium-small" style="position: fixed; right:30px; color:#b5b3b3;">5.00 AM</span>
                    </p>
                  </a>
                </div>
              </div>
            </div>
            <p> {{ nombre }} </p>
          </ul>
        </aside>
      </div>
    </nav>
  </div>
</template>
<script>
import { dataBus } from '../main.js'

export default {
    components: {},
    data(){
        return {
            titulo: 'GRUPO SISPROVISA',
            usuario: localStorage.getItem('usr_nombre'),
            nombre: localStorage.getItem('nombre')
        }
    },
    methods: {
        colapsar() {
        $(".button-collapse").sideNav({
          menuWidth: 300,
          edge: "right",
          closeOnClick: false,
          draggable: true
        });
      },
      desplegar() {
        $(".dropdown-button").dropdown({
          inDuration: 300,
          outDuration: 225,
          hover: true, // Activate on hover
          belowOrigin: true, // Displays dropdown below the button
          alignment: "right" // Displays dropdown with edge aligned to the left of button
        });
      }
    },
    beforeCreate(){
      if(localStorage.getItem('eMail')){
        dataBus.$on('usuario', (usr) => {
          this.usuario = usr;
        });
      } else {
        this.$router.push( {name: 'login'} );
      }
    },
    created(){
        dataBus.$on('titulo', (tit) => {
          this.titulo = tit;
      });
    }
}

</script>
<style scoped>
.collection {
  color: rgba(52,57,106, 1);
}
</style>
<style>

</style>
