<template>
    <footer class="page-footer" >
            <div class="container" style="width:auto !important;">
                <div class="row" style="margin-bottom: 0px;">
                    <div id="content-new-alerts" class="col s10 m12 l12" style="padding-top: .5em;">
                    <span id="style-footer">
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/AMERICAFIRST_32.png"></a>
                        </div>
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/BANAMEX_32.png"></a>
                        </div>
                        <div class="col s1 m1 l2">
                            <a href="#!"><img src="../assets/images/bank/BANCOMER_32.png"></a>
                        </div>
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/BANJERCITO_32.png"></a>
                        </div>
                        <div class="col s1 m1 l2">
                            <a href="#!"><img src="../assets/images/bank/CHASE_32.png"></a>
                        </div>
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/HSBC_32.png"></a>
                        </div>
                        <div class="col s1 m1 l2">
                            <a href="#!"><img src="../assets/images/bank/SANTANDER_32.png"></a>
                        </div>
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/SCOTIABANK_32.png"></a>
                        </div>
                        <div class="col s1 m1 l1">
                            <a href="#!"><img src="../assets/images/bank/wellsfargo_32.png"></a>
                        </div>
                    </span>
                    </div> 
                </div>
            </div>
        </footer>
</template>
<script>
export default {
  
}
</script>
<style scoped>

</style>
<style>

</style>
