<template>
  <div class="text-center tabla">
    <div class="row">
      <div class="col-sm-0 col-md-1 col-lg-2"></div>
      <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="row" style="margin-bottom: 0 !important;" >
          <div class="col-sm-2 col-md-4 col-lg-5"></div>
          <div class="col-sm-2 col-md-4 col-lg-5"></div>
          <div class="col-sm-8 col-md-4 col-lg-2">
            <div class="input-group">
              <input type="search" :id="'buscar_'+module" class="form-control" placeholder="buscar" aria-label="buscar" aria-describedby="basic-addon2" v-model="query.search_input" @keypress.enter="searchTable()" />
            </div>
          </div>
        </div>
        
        <table id="table_id" class="striped bordered" style="background:#ffff">
          <thead>
            <tr>
              <th></th>
              <th v-for="enc in head" >
                <span v-for="(col, c) in columns" >
                  <span v-if="enc[col] !== ''" @click="cambiarOrden(col)">
                    {{ enc[col] }}
                  </span>
                </span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in data" :id="row[nomId]" >
              <td v-for="(val, key) in row" v-if="key === nomId" >
                <input type="checkbox" :id="'0'+val" @click="eliminar(val)" ><label :for="'0'+val"></label>
              </td>
              <td v-else > {{ val }} </td>
              <td class="text-right" >
                <span v-for="(boton, id) in botones"  >
                  <span v-for="(btn, i) in boton " v-if="id === 1" > 
                    <button class="btn-small btn-secondary" :data-function="boton[i]" @click="editarDetalle(row[nomId])" > {{ boton[i] }} </button>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="left">
          <p style="text-align: left; margin-top: 1em;">Página <span> {{ current_page }} </span> de <span> {{ last_page }} </span> · Total de Registros: <span> {{ total }} </span></p>
        </div>
        <div id="pagination" class="right" >
          <ul class="pagination" style="text-align: right;">

            <li :class="activeLiFirst()"><a @click.prevent="primera()"><i class="material-icons">first_page</i>···</a></li>
            <!-- <li v-for="pag in last_page" :class="activeCalss(pag)" ><a @click="pagina(pag)" >{{ pag }}</a></li> -->

            <li v-if="current_page - 1 !== 0" ><a @click="paginador(prev_page_url)"> {{ current_page - 1 }} </a> </li>
            <li class="active"><a>{{ current_page }}</a></li>
            <li v-if="current_page +1 <= last_page" ><a @click="paginador(next_page_url)"> {{ current_page + 1 }} </a> </li>

            <li :class="activeLast()"><a @click.prevent="ultima()" >···<i class="material-icons">last_page</i></a></li>
            
          </ul>
          <div class="pagOverlay">

          </div>
        </div>
      </div>
      <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
  </div>
</template>

<script>
import { dataBus, methodsBus, eventBus } from '../main.js';
import { eventData } from '../main.js';
export default {
  props: ['head', 'ord', 'modo', 'nomId', 'module', 'botones'],
  data() {
    return {
      columns: [],
      current_page: 0,
      data: [],
      first_page_url: '',
      from: 0,
      last_page: 0,
      last_page_url: 0,
      next_page_url: 0,
      path: '',
      por_page: 0,
      prev_page_url: '',
      to: 0,
      total: 0,
      query: {
        column: this.ord,
        direction: this.modo,
        search_operator: 'like',
        search_input: '',
        per_page: 5,
      },
      borrar: '',
      listDel: [],
      modulo: this.module
    }
  },
  methods: {
    paginador(url) {
      let modulo = this.modulo,
      urlMod = url + '&column=' + this.query.column + '&direction=' + this.query.direction + '&search_operator=' + this.query.search_operator + '&per_page=' + this.query.per_page
      methodsBus.$emit('listarDataTable', [{
        'event': 'dataTable_' + modulo,
        'tipo': modulo,
        'url': urlMod,
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
        }])
        this.clearTable()
    },
    activeCalss(pag) {
      if (pag === this.current_page) {
        return 'active'
      } else {
        return ''
      };
    },
    activeLiFirst() {
      if (this.current_page === 1) {
        return 'disabled'
      } else {
        return 'waves-effect'
      }
      this.clearTable()
    },
    activeLast() {
      if (this.current_page === this.last_page) {
        $('ul li a:first-child').off('click')
        return 'disabled'
      } else {
        $('ul li:first-child').on('click')
        return 'waves-effect'
      }
      this.clearTable()
    },
    primera() {
      let urlOptions = '&column=' + this.query.column + '&direction=' + this.query.direction + '&search_operator=' + this.query.search_operator + '&search_input=' + this.query.search_input + '&per_page=' + this.query.per_page,
        modulo = this.modulo
      methodsBus.$emit('listarDataTable', [{
        'event': 'dataTable_' + modulo,
        'tipo': modulo,
        'url': this.first_page_url + urlOptions,
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
      }])
      this.clearTable()
    },
    pagina(num) {
      let modulo = this.modulo,
        urlMod = this.path + '?page=' + num + '&column=' + this.query.column + '&direction=' + this.query.direction + '&search_operator=' + this.query.search_operator + '&search_input=' + this.query.search_input + '&per_page=' + this.query.per_page
      methodsBus.$emit('listarDataTable', [{
        'event': 'dataTable_' + modulo,
        'tipo': modulo,
        'url': urlMod,
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
      }])
      this.clearTable()
    },
    ultima() {
      let modulo = this.modulo
      let urlOptions = '&column=' + this.query.column + '&direction=' + this.query.direction + '&search_operator=' + this.query.search_operator + '&search_input=' + this.query.search_input + '&per_page=' + this.query.per_page
      methodsBus.$emit('listarDataTable', [{
        'event': 'dataTable_' + modulo,
        'tipo': modulo,
        'url': this.last_page_url + urlOptions,
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
      }])
      this.clearTable()
    },
    trseleccionada() {
      let tr = '',
        tblBody = '#table_id tbody',
        tblBodytr = '#table_id tbody tr',
        modulo = this.modulo
      $(tblBody).on('click', function (e, data) {
        dataBus.$emit('btnsEdit', 0);
        $(tblBodytr).each(function (i, trs) {
          if ($(trs).hasClass('slectedRow')) {
            $(trs).removeClass('slectedRow');
          }
        })
        tr = $(e.target.parentNode).attr('id')
        $('#' + tr).addClass('slectedRow');
        if (tr !== undefined) {
          methodsBus.$emit('listarAjax', [{
            'event': 'lAjaxResp_' + modulo,
            'tipo': modulo,
            'url': '/' + modulo + '/search?id=' + tr,
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
          }])
        }
      })
    },
    eliminar(id) {
      let delet, list
      $("#0" + id).attr('checked', !$("#0" + id).attr('checked'))
      $('table tbody').find('input[type=checkbox]').each(function (i, chkbx) {
        if ($(chkbx).attr('checked')) {
          delet === undefined ? delet = (parseInt($(chkbx).attr('id'))).toString() : delet += ',' + (parseInt($(chkbx).attr('id'))).toString()
          list === undefined ? (list = [], list.push(($("#" + parseInt($(chkbx).attr('id'))).find("td").eq(1).text()).trim())) : list.push(($("#" + parseInt($(chkbx).attr('id'))).find("td").eq(1).text()).trim())
        }
      })
      this.borrar = delet
      this.listDel = list
      this.borrar !== undefined ? dataBus.$emit('btnEliminar_' + this.modulo, 1) : dataBus.$emit('btnEliminar_' + this.modulo, 0)
      dataBus.$emit('paraEliminar_' + this.modulo, this.borrar, this.listDel)
    },
    clearTable() {
      $('table tbody input[type=checkbox]').attr('checked', false)
      $('table tbody tr').each(function (i, t) {
        if ($(t).hasClass('slectedRow')) {
          $(t).removeClass('slectedRow');
        }
      });
      dataBus.$emit('btnsToggle', '#btnEliminar, #btnEditar, #btnImprimir, #btnBuscar, #btnGuardar, #btnCancelar', '#btnNuevo, #btnSalir')
    },
    cambiarOrden(enc) {
      //
      if (this.columns.indexOf(enc, 0) >= 0) {
        this.query.column = enc
        this.query.direction === 'asc' ? this.query.direction = 'desc' : this.query.direction = 'asc'
        if (enc !== 'active') {
          this.pagina(this.current_page)
        }
      }
    },
    refreshTable() {
      this.clearTable()
      this.listDel = []
      this.borrar = ''
      this.pagina(this.current_page);
      $('table tbody tr').on('click', this.trseleccionada())
      $('table tbody input').attr('disabled', false)
    },
    searchTable() {
      this.clearTable()
      this.listDel = []
      this.borrar = ''
      this.pagina(1);
      $('table tbody tr').on('click', this.trseleccionada())
    },
    editarDetalle(id){
      console.log(id)
    }
  },
  beforeCreate() {
    dataBus.$on('refresTable', (opc) => {
      this.refreshTable()
    })
  },
  updated() {
    $('.activo').focus()
  },
  mounted() {
    let modulo = this.modulo
    dataBus.$on('dataTable_' + modulo, (data) => {
      this.columns = data.columns
      this.data = data.model.data
      this.first_page_url = data.model.first_page_url
      this.current_page = data.model.current_page
      this.from = data.model.from
      this.last_page = data.model.last_page
      this.last_page_url = data.model.last_page_url
      this.next_page_url = data.model.next_page_url
      this.por_page = data.model.per_page
      this.prev_page_url = data.model.prev_page_url
      this.to = data.model.to
      this.path = data.model.path
      this.total = data.model.total
    })
    this.trseleccionada()
    eventData.$on('offPaginador_' + this.modulo, (action) => {
      action === 1 ? $('.pagOverlay').css('display', 'block') : $('.pagOverlay').css('display', 'none')
    })
  },
  beforeDestroy() {
    this.modulo = ''
    this.columns = ''
    this.data = ''
    this.first_page_url = ''
    this.current_page = ''
    this.from = ''
    this.last_page = ''
    this.last_page_url = ''
    this.next_page_url = ''
    this.por_page = ''
    this.prev_page_url = ''
    this.to = ''
    this.path = ''
    this.total = ''
  },
  updated() {
    eventBus.$emit('clearFrom_' + this.modulo, 1)
  }
}

</script>
<style scoped>
  ul li {
    cursor: pointer;
  }
  ul li:hover {
    background-color: rgba(125,125,125,.5);
  }
  
  .activo{
    background-color: rgba(125,125,125,.5);
  }
  .tabla {
    /* width: 98%; */
  }
  .slectedRow {
  /* background-color: rgba(52, 57, 106, 1) !important; */
  /* background-color: rgba(52, 57, 109, .7) !important; */
  /* background-color: rgba(0, 40, 100, .7) !important; */
  background-color: rgba(0, 0, 50, 1) !important;
  color: rgba(255, 255, 255, 1);
  cursor: no-drop !important;
}
[type="checkbox"]:checked+label:before {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}
table thead tr th span {
  cursor: pointer;
}
.disabled {
  display: none;
}
table thead th:nth-child(1){width: 4% !important;}
table tbody td:nth-child(1){width: 4% !important;}
.pagOverlay {
  position: absolute;
  background-color: rgba(0,0,0,.2);
  display: none;
  height: 2rem;
  width: 14.7rem;
  bottom: 1rem;
  right: 1rem;
}
</style>
<style>

</style>
