<template>
  <div id="content-menu">
      <span id="style-menu">
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{name: 'home'}" exact >
              <a type="" ><img id="icon-menu" src="../assets/images/icons/dashboard.svg" /><p>INICIO</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{name: 'presupuestal'}" exact>
              <a type="" ><img id="icon-menu" src="../assets/images/icons/presupuestal_icon.svg"><p>PRESUPUESTAL</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{name: 'facturacion'}" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/facturacion_icon.svg" ><p>FACTURACIÓN</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{name: 'nominas'}" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/nomina_icon.svg"><p>NÓMINA</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'cobranza'}" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/cobranza_icon.svg"><p>COBRANZA</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'impuestos' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/impuestos_icon.svg"><p>IMPUESTOS</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'recepcion' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/recepcion_icon.svg"><p>RECEPCIÓN</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'auditoria' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/auditoria_icon.svg"><p>AUDITORIA</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'sucursal' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/sucursal_icon.svg"><p>SUCURSAL</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'recHuman' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/recursoshumanosl_icon.svg"><p>REC. HUM.</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'ctrlpatri' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/controlpatrimonial_icon.svg"><p>CONT. PAT.</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'ventas' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/ventas_icon.svg"><p>VENTAS</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'rentas' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/renta_icon.svg"><p>RENTAS</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'c4base' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/C4_icon.svg"><p>C4</p></a>
          </router-link>
          <router-link tag="div" class="sub-content-new" active-class="active" :to="{ name: 'mantenimiento' }" exact>
            <a type="" ><img id="icon-menu" src="../assets/images/icons/settings.svg"><p>CONFIGURACIÓN</p></a>
          </router-link>
      </span>
  </div>
</template>
<script>
import { dataBus } from '../main.js';
import loadMenuMod from '../components/dashMenuMod.vue'
export default {
    components: {
        dashMenuMod: loadMenuMod
    },
  data(){
      return {
          usuario: '',
      }
  },
  methods: {
      cargarDash(url){
          dataBus.$emit('usuario', this.usuario);
      }
  },
  beforeCreate(){
    dataBus.$on('usuario', (usr) => {
      this.usuario = usr
    })
  }
}
</script>
<style scoped>
    a {
        text-decoration: none;
    }
    #content-menu {
      position: fixed;
    }

    #style-menu span div{
      border: 0px !important;
    }
    .active {
      background-color: rgba(0, 0, 0, .1)
    }
</style>
<style>

</style>
