<template>
    <div>
        <encabesado></encabesado>
        <menus id="menuDashboar" ></menus>
        <router-view class="dashed"></router-view>
        <pies></pies>
    </div>
</template>
<script>
import { dataBus } from '../main.js'
import { methodsBus } from '../main.js'
import axios from 'axios';
import qs from 'qs';
import encab from '../utileria/encab.vue'
import menues from '../utileria/menus.vue'
import footer from '../utileria/footer.vue'
import key from '../assets/js/keymaster.js';

export default {
    components: {
        encabesado: encab,
        menus: menues,
        pies: footer
    },
    data(){
        return {
            titulo: 'GRUPO SISPROVISA'
        }
    },
    methods: {
        cargando(a){
          a===1 ? $('#loading').show() : $('#loading').hide()
      }
    },
    beforeCreate(){

    },
    created(){
        let urlApi = 'http://sisprovisa.com:8888/siafi/web-service/api' // --> nueva
        // let urlApi = 'https://gsdevelopers.dyndns.org:8043/siafi/public/api'
        dataBus.$on('dashboard', (url) => {
            //console.log(url);
            location.href = url;
        });
        methodsBus.$on('listarAjax', (data) => {
            this.cargando(1)
            axios({
                method: data[0].metodo,
                url: urlApi+data[0].url,
                headers: {'Content-Type': 'application/'+data[0].header, 'Authorization': 'Bearer '+localStorage.getItem('token')},
                data: qs.stringify(data[0].data)
            })
            .then(resp => {
                console.log(urlApi+data[0].url, resp);
                this.cargando(0)
                dataBus.$emit(data[0].event, resp.data, data.tipo)
            }, err => {
                console.log('listarAjax', data, err);
                swal('Datos del Módulo Incompletos... '+ JSON.stringify(data) + ' - ' + err, {
                    icon: 'error'
                    // buttons: false,
                    // timer: 2000
                })
                dataBus.$emit(data[0].event, err.response.data)
            });
        })
        methodsBus.$on('listarDataTable', (data) => {
            // console.log('Recibiendo tipo: ', data[0].tipo, data)
            this.cargando(1)
            let urlDT = data[0].url,
                tipo = data[0].tipo,
                metodo = data[0].metodo,
                header = data[0].header,
                datos = data[0].data,
                event = data[0].event
            axios({
                method: metodo,
                url: urlDT,
                headers: {'Content-Type': 'application/'+header, 'Authorization': 'Bearer '+localStorage.getItem('token')},
                data: qs.stringify(datos)
            })
            .then(resp => {
                data = [], urlDT = ''
                this.cargando(0)
                dataBus.$emit(event, resp.data)
            }, err => {
                console.log('listarDataTable', data, err)
                this.cargando(0)
            });
        })
        methodsBus.$on('guardarAjax', (data) => {
            this.cargando(1)
            axios({
                method: data[0].metodo,
                url: urlApi+data[0].url,
                data: qs.stringify(data[0].data),
                headers: {'Authorization': 'Bearer '+localStorage.getItem('token') }
            })
            .then(resp => {
                this.cargando(0)
                dataBus.$emit(data[0].event, resp.data)
            }, err => {
                this.cargando(0)
                dataBus.$emit(data[0].event, err.response.data)
            });
        })
        methodsBus.$on('buscarSelects', (data) => {
            this.cargando(1)
            let urlDT = urlApi + data[0].url,
                tipo = data[0].tipo,
                metodo = data[0].metodo,
                header = data[0].header,
                datos = data[0].data,
                event = data[0].event
            axios({
                method: metodo,
                url: urlDT,
                headers: {'Content-Type': 'application/'+header, 'Authorization': 'Bearer '+localStorage.getItem('token')},
                data: qs.stringify(datos)
            })
            .then(resp => {
                data = [], urlDT = ''
                this.cargando(0)
                dataBus.$emit(event, resp.data)
            }, err => {
                console.log('buscarSelects', data, err)
                this.cargando(0)
                dataBus.$emit(event, err.response.data)
            });
        })
    },
    mounted(){
        var x=0, filas = 'table tbody tr', nf=0
        $(document).ready(function (){
            key('down, up', function (e) {
                e.preventDefault()
                let trs = '', nf = 0, n = $(filas+".slectedRow").index()
                switch (e.keyCode){
                    case 40:
                        n+1 >= $(filas).length ? n = 0 : n++
                    break;
                    case 38:
                        n <= 0 ? n = $(filas).length - 1 : n--
                    break
                }
                $(filas+".slectedRow").removeClass('slectedRow')
                $(filas).eq(n).addClass('slectedRow')
                x = n
                return false
            })
            $(this).on('keyup', $.debounce(1000, function(e){
                // console.log("It works!", x, e);
                if(e.keyCode === 38 || e.keyCode === 40){
                    $(filas).eq(x).trigger('click')
                }
            }))
        })
        dataBus.$emit('titulo', this.titulo);
        setInterval(function() {
            if(!(localStorage.getItem('eMail'))){
                // console.log(window.location.protocol, window.location.host)
                // window.location.replace("/siafi2");
                this.$router.push( {name: 'home'} );
            }
        }, 5000);
    },
    beforeUpdate(){
        
    },
    updated(){
        $('#menuDashboar').on('click','a', function(){
            if($('#dashMenu:visible').length < 1){
                $('#dashMenu').show()
            }
        })
    }
}
</script>
<style scoped>
    .dashed {
        padding-top: 4rem;
        width: 98%;
        padding-bottom: 2.5rem;
    }
    #menuDashboar{
        text-align: center;
        top: 4rem;
        position: fixed;
        z-index: 996;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        width: 100%;
        font-size: .9em;
    }
    #menuDashboar div{
        border: 0 !important;
    }
    #menuDashboar span {
        width: 100%;
    }
</style>
<style>
.rounded{
    border-radius: 5px !important;
}
.errCapt {
    background-color: rgba(255, 150, 0, 1) !important;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0,0,0, 1);
    font-size: .8rem;
    top: 5rem !important;
}
.requerido{
    border: 1px solid red !important;
}
</style>
