<template>
  <div>
    <router-view></router-view>
    <div id="dashMenu">
      <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h5>Catálogos</h5>
      <div id="options"> </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h5>Procesos</h5>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h5>Reportes</h5>

    </div>
  </div>
    </div>
  </div>
</template>

<script>
import { dataBus } from '../main.js'

export default {
    components: {},
    data(){
        return {
            titulo: 'REC. HUMANOS'
        }
    },
    methods: {
        cargarModulo(url){
            this.$router.push( url );
            dataBus.$emit('salir', '/siafi/app/inicio/rechuman');
        }
    },
    created(){
        dataBus.$emit('titulo',this.titulo);
    },
    updated(){
      
    }
}
</script>
<style scoped>

</style>
<style>

</style>
