<template>
    <div>
        <logueo v-if="loguear"></logueo>
    </div>
</template>
<script>
import { dataBus } from '../main.js';
import log from '../components/login.vue';
export default {
    components: {
        logueo: log
    },
    data(){
        return {
            loguear: true
        }
    },
    props: [],
    methods: {},
    beforeCreate(){
        dataBus.$on('usuario', (user) => {
            //console.log(user);
            if(user){
                this.loguear = false
                this.$router.push( {name: 'home'} );
            }
        })
    }
}
</script>
<style scoped>

</style>
<style>

</style>
