<template>
  <div>
    <router-view></router-view>
    <div id="dashMenu">
      <div class="row">
        <div class="col-sm-0 col-md-0 col-lg-0"></div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col s12 m12 l4">
              <h5>Catálogos</h5>
            </div>
            <div class="col s12 m12 l4">
              <h5>Procesos</h5>
              <!-- <p> <router-link tag="a" class="btn" to="mantenimiento/modEmpresas" >empresas</router-link> </p> -->
            </div>
            <div class="col s12 m12 l4">
              <h5>Reportes</h5>
              <div id="options">
                <p>
                  <button class="btn" @click="cargarModulo('manttoEmpresas')">Empresas del grupo</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoUnidades')">Unidades</button>
                </p>
                <!-- <p><button class="btn" >Zonas</button></p> -->
                <p>
                  <button class="btn" @click="cargarModulo('manttoPuestos')">Puestos</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoBancos')">Bancos</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoCtasMadre')" >Cuentas Madre</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoSubCtas')" >sub cuentas</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoSucursales')" >Sucursales</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoReembolsables')" >Reembolsables</button>
                </p>
                <p>
                  <button class="btn" @click="cargarModulo('manttoProdServ')">Categoría de prod. y Serv.</button>
                </p>
                <p>
                  <button class="btn" > Usuarios </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-0 col-md-0 col-lg-0"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { dataBus } from '../main.js'

export default {
    components: {},
    data(){
        return {
            titulo: 'CONFIGURACIÓN'
        }
    },
    methods: {
        cargarModulo(url){

            this.$router.push( {name: url} );
            dataBus.$emit('salir', '/home/mantenimiento');
        }
    },
    created(){
        dataBus.$emit('titulo',this.titulo);
    },
    updated(){
      
    }
}
</script>
<style scoped>

</style>
<style>

</style>
