<template>
    <div class="container" style=" margin: 0px;" >
       <div id="login">
           <div class="row" style="margin-bottom: 0px;">
            <div class="col s12 m4 l4" style="background-color: #33396b; height: 100vh;">
                <p style="padding-top: 8em;"><img src="../assets/logo-sisprovisa.svg" alt="" class="logosiafi-login"></p>
                <h1>SIAFI</h1>
            </div>
            <div class="col s12 m4 l8" style="padding-top: 17em;">
                <div class="cont-form">
                    <form>
                        <div class="col s12 m4 l5 offset-l3 input-field">
                            <input type="text" id="usuario" class="validate" v-model="usuario" required >
                            <label for="usuario" class="">Usuario</label>
                        </div>
                        <div class="col s12 m4 l5 offset-l3 input-field">
                            <input type="password" id="password" class="validate" v-model='passwd' @keypress.enter="loguear()" required >
                            <label for="password" class="">Password</label>
                        </div>
                        <!--boton-->
                        <div class="col s12 m4 l5 offset-l3 input-field">
                            <p>
                                <!-- a href="home" class="btn waves-effect waves-light btn-enviar" type="button" name="action" >Ingresar</a -->
                                <button @click='loguear()' class="btn waves-effect waves-light btn-enviar" type="button">Ingresar</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </div>
    </div>
</template>
<script>
import { dataBus } from '../main.js';
import axios from 'axios';
import qs from 'qs';
export default {
    data(){
        return {
            usuario: '',
            passwd: ''
        }
    },
    methods: {
        loguear(){
            if(this.usuario.trim() !== '' && this.passwd.trim() !== ''){
                let param = {
                    email: this.usuario,
                    password: this.passwd
                }
                axios({
                    method: 'POST',
                    url: 'http://sisprovisa.com:8888/siafi/web-service/api/login',
                    data: qs.stringify(param)
                    })
                    .then(resp => {
                        // console.log(resp)
                        if(resp.data.success){
                            localStorage.setItem('token', resp.data.token )
                            localStorage.setItem('usr_estatus', resp.data.user.active)
                            localStorage.setItem('eMail', resp.data.user.email )
                            localStorage.setItem('id_empleado', resp.data.user.employee_id )
                            localStorage.setItem('genero', resp.data.user.gender)
                            localStorage.setItem('nombre', resp.data.user.first_name +' '+ resp.data.user.second_name +' '+ resp.data.user.last_name)
                            localStorage.setItem('usr_nombre', resp.data.user.name)
                            localStorage.setItem('id_usuario', resp.data.user.user_id)
                            dataBus.$emit('usuario', resp.data)
                            this.$router.push( {name: 'home'} );
                        }
                    }, err => {
                        console.log('err: ', err.response );
                        swal(err.response.data.message.es, {
                            icon: 'warning',
                            buttons: false,
                            timer: 4000
                        })
                });
            }
            else {
                return false;
            }
        }
    },
    created(){
        if( localStorage.getItem('eMail') ){
            dataBus.$emit('usuario', localStorage.getItem('usr_nombre') )
        }
    }
}
</script>
<style scoped>

</style>
<style>

</style>
