<template>
    <div class="container-fluid">
        <div class="flow-text">
            <div class="row">
                <div class="col-sm-0 col-md-3 col-lg-3"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 white">
                    <!-- Se agrega la clase form para validar formulario... -->
                    <div class="row form"> 
                        <div class="col-12 form-group" style="margin-top: 1em;">
                            <select id="idEmpresa" class="form-control" required >
                                <option value="-1">-- SELECCIONE EMPRESA --</option>
                                <option v-for="emp in empresas" :value="emp.company_id"> {{ emp.business_name}} </option>
                            </select>
                        </div>
                        <div class="col-12 form-group">
                          <select id="idCategoria" class="form-control" required >
                            <option value="-1">-- SELECCIONE CATEGORÍA --</option>
                            <option v-for="categ in idCat" :value="categ.business_turn_id"> {{ categ.description }} </option>
                          </select>
                        </div>
                        <div class="col-12 input-field form-group">
                            <input type="text" id="unidad" class="form-control" v-model="nomUnit" required >
                            <label for="unidad" >Unidad:</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <botonera module="units" :dashname='dashname' ></botonera>
            </div>
        </div>
        <dataTable :head="head" ord="unit_id" modo="asc" nomId="unit_id" module="units" ></dataTable>
    </div>
</template>
<script>
  import { dataBus } from '../../main.js';
  import { eventBus } from '../../main.js';
  import { methodsBus } from '../../main.js';
  import { eventData } from '../../main.js';
  import axios from 'axios';
  import qs from 'qs';
  import botones from '../../utileria/botonera.vue';
  import tabla from '../../utileria/loadTable.vue';

  let allInpts = '#idEmpresa, #idCategoria, #unidad',
      inselect = '#idEmpresa, #idCategoria',
      innormal = '#unidad'

  export default {
    components: {
      botonera: botones,
      dataTable: tabla
    },
    data() {
      return {
        head: [{ cve: 'cve' }, { description: 'nombre' }, { active: 'empresa' }],
        empresas: [],
        idEm: '',
        idCat: [],
        nomUnit: '',
        idUni: 0,
        userId: localStorage.getItem('id_usuario'),
        borrar: '',
        listDel: [],
        dashname: 'CONFIGURACIÓN' 
      }
    },
    methods: {
      inputsClear() {
        let obj = [{
          element: inselect,
          type: 'select'
        }, {
          element: innormal,
          type: 'input'
        }]
        for (var v in obj) {
          obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          }) : $(obj[v].element).val('').css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          })
        }
        this.idEm = ''
        this.nomUnit = ''
        $(".form label").removeClass('active')
      },
      guardarUnidades(action) {
        if (this.validate_required()) {
          //
          let param = {
            company_id: $('#idEmpresa').val(),
            business_turn_id: $('#idCategoria').val(),
            description: this.nomUnit,
            typed: 1
          }
          let datos = this.idUni + '?company_id=' + this.idEm + '&description=' + this.nomUnit + '&business_turn_id=' + $('#idCategoria').val() + '&typed=' + this.userId
          // console.log('Nueva: ', param, ' Modifica', datos)
          let url = ''
          action == 0 ? url = '/units/store' : url = '/units/update/';
          switch (action) {
            case 0:
              // Agregar Nuevo Registro
              methodsBus.$emit('guardarAjax', [{
                'event': 'saveResp',
                'tipo': '',
                'url': url,
                'data': param,
                'metodo': 'POST',
                'header': 'form-data'
              }])
              break;
            case 1:
              // Actualizar Registro Existente
              methodsBus.$emit('guardarAjax', [{
                'event': 'upDateResp',
                'tipo': '',
                'url': url + datos,
                'data': '',
                'metodo': 'PUT',
                'header': 'form-data'
              }])
              break;
          }
        }
      },
      validate_required() {
        var control = 0;
        //VALIDACION DE FORMULARIO.
        $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
          if (e.tagName === "INPUT") {
            //valido que todo los imput este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
            //valido lo correos
            if (e.type === "email") {
              var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
              if (!regex.test($("#" + idinput).val().trim())) {
                control = 1 + control;
                $(e).addClass("requerido");
              } else {
                $(e).removeClass("requerido");
              }
            }
            //Valido los numero telefonicos
            else if (e.type === "tel") {
              if (isNaN(e.value)) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else if (e.value.length < 9) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else {
                $(e).removeClass("requerido");
              }
            }
          } else if (e.tagName === "TEXTAREA") {
            //valido que todo los textarea este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          } else if (e.tagName === "SELECT") {
            console.log()
            if ($(e).attr('required') && $(e).val() <= 0) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else if (e.value === "0") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
        });
        if (control === 0) {
          return true;
        } else {
          Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
          return false
        }
      },
      eliminarUnidades() {
        var lista = '',
          text = '',
          line = document.createElement('hr'),
          ul = document.createElement('ul'),
          div = document.createElement('div')
        for (var d in this.listDel) {
          lista = document.createElement('li')
          text = document.createTextNode(this.listDel[d])
          lista.appendChild(text)
          ul.appendChild(lista)
        }
        div.appendChild(ul)
        div.insertAdjacentElement('beforeEnd', line)
        swal({
            title: "Desea Eliminar...",
            text: '',
            content: div,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              let params = {
                ids: this.borrar,
                typed: this.userId
              }
              methodsBus.$emit('listarAjax', [{
                'event': 'respDel',
                'tipo': '',
                'url': '/units/delete',
                'data': params,
                'metodo': 'POST',
                'header': 'x-www-form-urlencoded'
              }])
              dataBus.$on('respDel', (respElim) => {
                //console.log(respElim)
                if (respElim.success) {
                  swal(respElim.message, {
                    icon: "success",
                  });
                  this.borrar = ''
                  this.listDel = []
                  dataBus.$emit('refresTable', 0)
                } else {
                  swal(respElim.message, {
                    icon: 'error'
                  })
                }
              })

            } else {
              swal("Operación Cancelada...", {
                icon: 'info'
              });
              dataBus.$emit('refresTable', 0)
            }
          });
      }
    },
    computed: {},
    created() {
      dataBus.$emit('titulo', 'Administración de Unidades');
      eventBus.$on('clearFrom_units', (ac) => {
        this.inputsClear()
      })
    },
    mounted() {
      $('#dashMenu').hide()
      dataBus.$emit('btnsToggle_units', allInpts, '')
    },
    beforeCreate() {
      methodsBus.$emit('listarAjax', [{
        'event': 'dataTable_units',
        'tipo': 'units',
        'url': '/units/data-viewer?column=unit_id&direction=asc&search_operator=like&search_input=&per_page=5',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
      }])
      methodsBus.$emit('listarAjax', [{
        'event': 'listCatgUnid',
        'tipo': 'units',
        'url': '/business-turn/search?order=asc&column_order=description&active=1',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
      }])
      dataBus.$on('upDateResp', (updtResp) => {
        let echo = '',
          msg = ''
        updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
        swal(msg, {
          icon: echo,
          buttons: false,
          timer: 2000
        })
        if (updtResp.success) {
          this.inputsClear()
          dataBus.$emit('refresTable', 0)
          dataBus.$emit('btnsToggle_units', allInpts, "");
          eventBus.$emit('echo_units', true)
          eventData.$emit('offPaginador_units', 0)
        }
      })
      dataBus.$on('saveResp', (saveResp) => {
        let echo = '',
          msg = ''
        saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
        swal(msg, {
          icon: echo,
          buttons: false,
          timer: 2000
        })
        if (saveResp.success) {
          dataBus.$emit('btnsToggle_units', allInpts, "");
          this.inputsClear()
          dataBus.$emit('refresTable', 0)
          eventData.$emit('offPaginador_units', 0)
        }
      })
      eventBus.$on('btnAct_units', (event, action) => {
        if (event === 'guardar_units') {
          this.guardarUnidades(action)
        }
        if (event === 'editar_units') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_units', 1)
          dataBus.$emit('btnsToggle_units', "", allInpts);
        }
        if (event === 'nuevo_units') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_units', 1)
          dataBus.$emit('btnsToggle_units', "", allInpts);
          this.inputsClear()
        }
        if (event === 'cancelar_units') {
          dataBus.$emit('btnsToggle_units', allInpts, "");
          this.inputsClear()
          dataBus.$emit('refresTable', 0)
          eventData.$emit('offPaginador_units', 0)
        }
        if (event === 'eliminar_units') {
          this.eliminarUnidades()
        }
        if(event === 'recarga_units'){
          dataBus.$emit('btnsToggle_units', allInpts, "");
          this.inputsClear()
          eventData.$emit('offPaginador_units', 0)
        }
      })
      dataBus.$on('lAjaxResp_units', (unitSelect) => {
        this.nomUnit = unitSelect[0].description,
          this.idEm = unitSelect[0].company_id
        this.idUni = unitSelect[0].unit_id
        $("#idEmpresa").val(unitSelect[0].company_id)
        $("#idCategoria").val(unitSelect[0].business_turn_id)
        $(".form label").addClass('active')
        dataBus.$emit('btnsEdit_units', 1);
      })
      dataBus.$on('paraEliminar_units', (borrar, listDel) => {
        this.borrar = borrar
        this.listDel = listDel
      })
      dataBus.$on('listCatgUnid', (catCat) => {
        this.idCat = catCat
      })
      axios({
          method: 'GET',
          url: 'http://sisprovisa.com:8888/siafi/web-service/api/companies/search?column_order=business_name&order=asc&active=1'
        })
        .then(resp => {
          this.empresas = resp.data;
        }, err => {
          this.errores = err;
          console.log(err);
        });
    }
  }


</script>
<style scoped>

</style>
<style>

</style>
