<template>
    <div class="container-fluid">
        <div class="flow-text">
            <div class="form">
                <div class="row" >
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 white ">
                        <div class="col-12 form-group" style="margin-top: 1em;" >
                            <select id="selEmpresa" class="form-control" required >
                                <option value="-1">-- SELECCIONE EMPRESA --</option>
                                <option v-for="emp in empresas" :value="emp.company_id"> {{ emp.business_name }} </option>
                            </select>
                        </div>
                        <div class="col-12 form-group input-field" >
                            <input type="text" id="nomCatProdServ" class="form-control" v-model="description" required />
                            <label for="nomCatProdServ">categoría</label>
                        </div>
                        <div class="row radiobtn text-center" id="typeCategory" required >
                          <div class="col">
                            <input type="radio" name="typeCategory" id="tb1" value="1" />
                            <label for="tb1"> Productos </label>
                          </div>
                          <div class="col">
                            <input type="radio" name="typeCategory" id="tb2" value="2" />
                            <label for="tb2"> servicios </label>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                </div>
            </div>
            <botonescps module="product-service-categories" :dashname='dashname' ></botonescps>
        </div>
        <tblcps :head="head" ord="description" modo="asc" nomId="product_service_category_id" module="product-service-categories" ></tblcps>
    </div>
</template>
<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import btnActns from '../../utileria/botonera';
import tblCatProdServ from '../../utileria/loadTable';

let allInpts = '#selEmpresa, #nomCatProdServ',
    inselect = '#selEmpresa',
    innormal = '#nomCatProdServ',
    inradiob = '[name=typeCategory]'
export default {
    components: {
        botonescps: btnActns,
        tblcps: tblCatProdServ
    },
    data(){
        return {
            empresas: [],
            head: [{cve: 'CVE'}, {description: 'categoría'}, {category_type: 'tipo'}],
            userId: localStorage.getItem('id_usuario'),
            borrar: '',
            listDel: [],
            description: '',
            idCatgProdServ: 0,
            catType: 0,
            dashname: 'CONFIGURACIÓN'
        }
    },
    methods: {
      guardarcatproser(action){
          if (this.validate_required()) {
          //
          $("#typeCategory input").attr('disabled',true)
          let param = {
            description: this.description,
            category_type: $('[name=typeCategory]:checked').val(),
            company_id: $('#selEmpresa').val(),
            typed: this.userId
          }
          let datos = this.idCatgProdServ + '?description=' + this.description + '&company_id='+ $('#selEmpresa').val() +'&category_type='+ $('[name=typeCategory]:checked').val() +'&typed=' + this.userId
          let url = ''
          action == 0 ? url = '/product-service-categories/store' : url = '/product-service-categories/update/';
          switch (action) {
            case 0:
              // Agregar Nuevo Registro
              //console.log('Nueva: ', param)
              methodsBus.$emit('guardarAjax', [{
                'event': 'saveResp',
                'tipo': '',
                'url': url,
                'data': param,
                'metodo': 'POST',
                'header': 'form-data'
              }])
              break;
            case 1:
              // Actualizar Registro Existente
              //console.log('Modifica: ', datos)
              methodsBus.$emit('guardarAjax', [{
                'event': 'upDateResp',
                'tipo': '',
                'url': url + datos,
                'data': '',
                'metodo': 'PUT',
                'header': 'form-data'
              }])
              break;
          }
        }
      },
      eliminarcatproser(){
          var lista = '',
          text = '',
          line = document.createElement('hr'),
          ul = document.createElement('ul'),
          div = document.createElement('div')
        for (var d in this.listDel) {
          lista = document.createElement('li')
          text = document.createTextNode(this.listDel[d])
          lista.appendChild(text)
          ul.appendChild(lista)
        }
        div.appendChild(ul)
        div.insertAdjacentElement('beforeEnd', line)
        swal({
            title: "Desea Eliminar...",
            text: '',
            content: div,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              let params = {
                ids: this.idCatgProdServ,
                typed: this.userId
              }
              methodsBus.$emit('listarAjax', [{
                'event': 'respDel',
                'tipo': '',
                'url': '/product-service-categories/delete',
                'data': params,
                'metodo': 'POST',
                'header': 'x-www-form-urlencoded'
              }])
              dataBus.$on('respDel', (respElim) => {
                //console.log(respElim)
                if (respElim.success) {
                  swal(respElim.message, {
                    icon: "success",
                  });
                  this.borrar = ''
                  this.listDel = []
                  dataBus.$emit('refresTable', 0)
                } else {
                  swal(respElim.message, {
                    icon: 'error'
                  })
                }
              })

            } else {
              swal("Operación Cancelada...", {
                icon: 'info'
              });
              dataBus.$emit('refresTable', 0)
            }
          });
      },
      inputsClear(disable = true){
        let obj = [{
          element: inselect,
          type: 'select'
        }, {
          element: innormal,
          type: 'input'
        }]
        for (var v in obj) {
          obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          }) : $(obj[v].element).val('').css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          })
        }
        this.description = ''
        this.idCatgProdServ = 0
        this.catType = 0
        $("#typeCategory input").prop('checked',false).prop('disabled', disable)
        $(".form label").removeClass('active')
      },
      validate_required() {
        var control = 0;
        //VALIDACION DE FORMULARIO.
        $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
          if (e.tagName === "INPUT") {
            //valido que todo los imput este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
            //valido lo correos
            if (e.type === "email") {
              var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
              if (!regex.test($("#" + idinput).val().trim())) {
                control = 1 + control;
                $(e).addClass("requerido");
              } else {
                $(e).removeClass("requerido");
              }
            }
            //Valido los numero telefonicos
            else if (e.type === "tel") {
              if (isNaN(e.value)) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else if (e.value.length < 9) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else {
                $(e).removeClass("requerido");
              }
            }
          } else if (e.tagName === "TEXTAREA") {
            //valido que todo los textarea este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          } else if (e.tagName === "SELECT") {
            console.log()
            if ($(e).attr('required') && $(e).val() <= 0) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else if (e.value === "0") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          } else if (e.tagName === 'DIV'){
            if($('[name='+ $(e).attr('id') +']:checked').data('id') === undefined ){
              $(e).addClass("requerido");
              control = 1 + control;
            } else {
              $(e).removeClass("requerido");
            }
          }
        });
        if (control === 0) {
          return true;
        } else {
          Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
          return false
        }
      }
  },
   created(){
  },
  mounted() {
      $('#dashMenu').hide()
      dataBus.$emit('btnsToggle_product-service-categories', allInpts, "")
      dataBus.$emit('titulo', 'Admon. de Cat. de Prod. y Serv.')
      eventBus.$on('clearFrom_product-service-categories', (ac) => {
        this.inputsClear()
      })
      eventBus.$on('btnAct_product-service-categories', (event, action) => {
        if (event === 'guardar_product-service-categories') {
          this.guardarcatproser(action)
        }
        if (event === 'editar_product-service-categories') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          $("#typeCategory input").attr('disabled', false)
          eventData.$emit('offPaginador_product-service-categories', 1)
          dataBus.$emit('btnsToggle_product-service-categories', "", allInpts);
        }
        if (event === 'nuevo_product-service-categories') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_product-service-categories', 1)
          dataBus.$emit('btnsToggle_product-service-categories', "", allInpts);
          this.inputsClear(false)
        }
        if (event === 'cancelar_product-service-categories') {
          dataBus.$emit('btnsToggle_product-service-categories', allInpts, "");
          this.inputsClear()
          dataBus.$emit('refresTable', 0)
          eventData.$emit('offPaginador_product-service-categories', 0)
        }
        if (event === 'eliminar_product-service-categories') {
          this.eliminarcatproser()
        }
        if(event === 'recarga_product-service-categories'){
          dataBus.$emit('btnsToggle_product-service-categories', allInpts, "");
          this.inputsClear()
          eventData.$emit('offPaginador_companies', 0)
        }
      })
      methodsBus.$emit('listarAjax', [{
            'event': 'select_Empresa',
            'tipo': 'product-service-categories',
            'url': '/companies/search?active=1&column_order=business_name&order=asc',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
    },
    beforeCreate(){
        dataBus.$on('upDateResp', (updtResp) => {
            let echo = '',
            msg = ''
            updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (updtResp.success) {
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                dataBus.$emit('btnsToggle_product-service-categories', allInpts, "");
                eventBus.$emit('echo_product-service-categories', true)
                eventData.$emit('offPaginador_product-service-categories', 0)
            }
        })
        dataBus.$on('saveResp', (saveResp) => {
            let echo = '',
            msg = ''
            saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (saveResp.success) {
                dataBus.$emit('btnsToggle_product-service-categories', allInpts, "");
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                eventData.$emit('offPaginador_product-service-categories', 0)
            }
        })
        dataBus.$on('select_Empresa', (empresas) => {
            this.empresas = empresas
        })
        // Para llenar el formulario
        dataBus.$on('lAjaxResp_product-service-categories', (resp) => {
          this.idCatgProdServ = resp[0].product_service_category_id
          $('#selEmpresa').val(resp[0].company_id)
          this.description =  resp[0].description
          this.catType = resp[0].category_type
          $("#tb"+resp[0].category_type).prop('checked', true)
          this.listDel = [ resp[0].cve, resp[0].description ]
          dataBus.$emit('btnsEdit_product-service-categories', 1);
          $(".form label").addClass('active')
        })
        // Para el DataTable
        methodsBus.$emit('listarAjax', [{ 
            'event': 'dataTable_product-service-categories',
            'tipo': 'product-service-categories',
            'url': '/product-service-categories/data-viewer?column=product_service_category_id&direction=asc&search_operator=like&search_input=&per_page=5',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
    } 
}
</script>
<style scoped>

</style>
<style>

</style>
