<template>
  <div class="container-fluid">
    <div class="flow-text">
      <div class="row">
        <div class="col-sm-0 col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 white pl-2 pr-2">
          <!-- Se agrega la clase form para validar formulario -->
          <div class="row form">
            <div class="col-sm-12 input-field" style="margin-top: 1em;">
              <input type="text" id="bussinesName" class="" v-model="nomEmpre" required>
              <label for="bussinesName" >Empresa:</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 input-field">
              <input type="text" id="rfc" class="" v-model="rfcEmpre" >
              <label for="rfc" >R.F.C.</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 form-group">
              <select id="selecPais" class="form-control" @change='cargarEstados()' >
                <option value="-1"> -- SELECCIONE PAIS -- </option>
                <option v-for="pais in paices" :value="pais.country_id" >{{ pais.name }}</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 form-group">
              <select id="selecEstado" class="form-control" @change="cargarCiudades()"  >
                <option value="-1"> -- SELECCIONE ESTADO -- </option>
                <option v-for="estado in edos" :value="estado.state_id"> {{ estado.name }} </option>
              </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 form-group">
              <select id="selecCiudad" class="form-control" @change="cargarColonias()" >
                <option value="-1"> -- SELECCIONE CIUDAD -- </option>
                <option v-for="ciudad in ciudades" :value="ciudad.city_id"> {{ ciudad.name }} </option>
              </select>
            </div>
            <div class="col-sm12 col-md-6 col-lg-6 input-field">
              <input type="text" id="address" class=""  v-model="dirEmpre" />
              <label for="address" >Dirección:</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 form-group">
              <select id="selecColonia" class="form-control" >
                <option value="-1" selected> -- SELECCIONE COLONIA -- </option>
                <option v-for="colonia in colonias" :value="colonia.neighborhood_id" > {{ colonia.name }} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-0 col-md-3 col-lg-3"></div>
      </div>
      <div class="row">
        <botonera module="companies" :dashname='dashname' ></botonera>
      </div>
    </div>
    <dataTable :head="head" ord="business_name" modo="asc" nomId="company_id" module="companies" ></dataTable>
  </div>
</template>
<script>
  import { dataBus } from '../../main.js';
  import { eventBus } from '../../main.js';
  import { methodsBus } from '../../main.js';
  import { eventData } from '../../main.js';
  import axios from 'axios';
  import qs from 'qs';
  import botones from '../../utileria/botonera.vue';
  import tabla from '../../utileria/loadTable.vue';
  let allInpts = "#bussinesName, #rfc, #selecPais, #selecEstado, #selecCiudad, #address, #selecColonia",
    inselect = "#selecPais, #selecEstado, #selecCiudad, #selecColonia",
    innormal = "#bussinesName, #rfc, #address",
    trSelected = "#table_id tbody", bftr;

  export default {
    components: {
      botonera: botones,
      dataTable: tabla
    },
    data() {
      return {
        companies: [],
        paices: [],
        edos: [],
        ciudades: [],
        colonias: [],
        nomEmpre: '',
        rfcEmpre: '',
        dirEmpre: '',
        idEmp: '',
        typeEmpr: '',
        userId: localStorage.getItem('id_usuario'),
        url: '',
        head: [{business_name: 'Razón Soc.'}, {rfc: 'R. F. C.'}, {active: 'Dirección'}],
        borrar: '',
        listDel: [],
        dashname: 'CONFIGURACIÓN'
      }
    },
    methods: {
      cargarEstados() {
          methodsBus.$emit('listarAjax', [{'event':'listEdosResp', 'tipo': 'companies', 'url': '/states/search?order=asc&column_order=name&active=1&country_id='+$("#selecPais").val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
      },
      cargarCiudades() {
          methodsBus.$emit('listarAjax', [{'event':'listCdsResp', 'tipo': 'companies', 'url': '/cities/search?order=asc&column_order=name&active=1&state_id='+$('#selecEstado').val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
      },
      cargarColonias() {
          methodsBus.$emit('listarAjax', [{'event':'listColResp', 'tipo': 'companies', 'url': '/neighborhoods/search?order=asc&column_order=name&active=1&city_id=' + $('#selecCiudad').val(), 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded'}])
      },
      nuevo(action) {
        
      },
      editar() {

      },
      guardar(action) {
        console.log('guardando...')
        let param = {
          business_name: this.nomEmpre,
          rfc: this.rfcEmpre,
          address: this.dirEmpre.replace('#', 'Num.'),
          neighborhood_id: $("#selecColonia").val(),
          typed: this.userId
        }
        let datos = this.idEmp+'?business_name='+ this.nomEmpre +'&rfc='+ this.rfcEmpre +'&address='+ this.dirEmpre.replace('#', 'Num.') +'&neighborhood_id='+ $("#selecColonia").val() +'&typed='+ this.userId
        let url = ''
        action == 0 ? url = '/companies/store' : url = '/companies/update/';
        switch (action) {
          case 0:
          // Agregar Nuevo Registro
          methodsBus.$emit('guardarAjax', [{'event':'saveResp', 'tipo': '', 'url': url, 'data': param, 'metodo': 'POST', 'header': 'form-data'}])
          break;
          case 1:
          // Actualizar Registro Existente
          methodsBus.$emit('guardarAjax', [{'event':'upDateResp', 'tipo': '', 'url': url+datos, 'data': '', 'metodo': 'PUT', 'header': 'form-data'}])
          break;
        }
      },
      cancelar() {
        console.log('Cancelación de movimiento seleccionado: ', action)
        dataBus.$emit('refresTable', 0)
      },
      imprimir() {
        console.log('Impresión de reporte según opciones...', action);
      },
      buscar() {
        console.log('buscar según parámetros...', action)
      },
      btnResponse(evento, action) {
        switch (evento) {
          case 'nuevo_companies':
            //
            this.inputsClear();
            break;
          case 'eliminar_companies':
            //
            var lista = '', text = '', line = document.createElement('hr'), ul = document.createElement('ul'), div = document.createElement('div')
            for (var d in this.listDel){
              lista = document.createElement('li')
              text = document.createTextNode(this.listDel[d])
              lista.appendChild(text)
              ul.appendChild(lista)
            }
            div.appendChild(ul)
            div.insertAdjacentElement('beforeEnd', line)
            swal({
                title: "Desea Eliminar...",
                text: '',
                content: div,
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                  let params = {
                    ids: this.borrar,
                    typed: this.userId
                  }
                  methodsBus.$emit('listarAjax', [{'event': 'respDel', 'tipo': '', 'url':'/companies/delete', 'data': params, 'metodo': 'POST', 'header': 'x-www-form-urlencoded' }])
                  dataBus.$on('respDel', (respElim) => {
                    //console.log(respElim)
                    if (respElim.success){
                      swal(respElim.message, {
                        icon: "success",
                      });
                      this.borrar = ''
                      this.listDel = []
                      dataBus.$emit('refresTable', 0)
                    } else {
                      swal(respElim.message, {
                        icon: 'error'
                      })
                    }
                  })
                  
                } else {
                  swal("Operación Cancelada...", {
                    icon: 'info'
                  });
                }
              });
            break;
          case 'editar_companies':
            //
            console.log('Editar... ', action)
            break;
          case 'guardar_companies':
            //
            //console.log('validar...')
            if(this.validate_required()){
              //console.log('validado...')
              this.guardar(action);
              eventBus.$emit('echo_companies', true)
            }
            break;
          case 'cancelar_companies':
            this.inputsClear()
            dataBus.$emit('refresTable', 0)
            //console.log('cancelar... ', action)
            break;
          case 'imprimir_companies':
            //
            console.log('imprimir... ', action)
            break;
          case 'buscar_companies':
            //
            console.log('buscar... ', action)
            break;
        }
      },
      inputsClear() {
        let obj = [{
          element: inselect,
          type: 'select'
        }, {
          element: innormal,
          type: 'input'
        }]
        for (var v in obj) {
          // obj[v].type === 'select' ? $(obj[v].element).val(-1) : $(obj[v].element).val('') // modo original
          if(obj[v].type === 'input'){ $(obj[v].element).val('').css({'border': '0px', 'border-bottom': '1px dotted rgba(0,0,0,0.42)'}) }
        }
        this.nomEmpre = ''
        this.rfcEmpre = ''
        this.dirEmpre = ''
        this.edos = []
        this.ciudades = []
        this.colonias = []
        $("#selecPais").val(-1)
        $("#selecEstado option:selected").val('-1').text('-- SELECCIONE ESTADO --').css({'border': '0px', 'border-bottom': '1px dotted rgba(0,0,0,0.42)'})
        $("#selecCiudad option:selected").val('-1').text('-- SELECCIONE CIUDAD --').css({'border': '0px', 'border-bottom': '1px dotted rgba(0,0,0,0.42)'})
        $("#selecColonia option:selected").val('-1').text('-- SELECCIONE COLONIA --').css({'border': '0px', 'border-bottom': '1px dotted rgba(0,0,0,0.42)'})
        $(".form label").removeClass('active')
      },
      validate_required() {
        var control = 0;
        //VALIDACION DE FORMULARIO.
        $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
          if (e.tagName === "INPUT") {
            //valido que todo los imput este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
              Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
            } else {
              $(e).removeClass("requerido");
            }
            //valido lo correos
            if (e.type === "email") {
              var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
              if (!regex.test($("#" + idinput).val().trim())) {
                control = 1 + control;
                $(e).addClass("requerido");
              } else {
                $(e).removeClass("requerido");
              }
            }
            //Valido los numero telefonicos
            else if (e.type === "tel") {
              if (isNaN(e.value)) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else if (e.value.length < 9) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else {
                $(e).removeClass("requerido");
              }
            }
          } else if (e.tagName === "TEXTAREA") {
            //valido que todo los textarea este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          } else if (e.tagName === "SELECT") {
            if ($(e).attr('required') && $(e).val() <= 0) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else if (e.value === "0") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
        });
        if(control === 0){
          return true;
        } else {
          return false
        }
      },
      trseleccionada() { }
    },
    computed: {},
    created() {
      eventBus.$on('btnAct_companies', (evento, action) => {
        if (evento === 'guardar_companies') {
          eventData.$emit('offPaginador_companies', 0)
          this.btnResponse(evento, action);
        }
        if (evento === 'eliminar_companies'){
          this.btnResponse(evento, action);
        }
        if (evento === 'nuevo_companies'){
          this.inputsClear()
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_companies', 1)
          dataBus.$emit('btnsToggle_companies', "", allInpts);
        }
        if (evento === 'editar_companies') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_companies', 1)
          dataBus.$emit('btnsToggle_companies', "", allInpts);
        }
        if (evento === 'cancelar_companies') {
          this.inputsClear()
          dataBus.$emit('btnsToggle_companies', allInpts, "");
          dataBus.$emit('refresTable', 0)
          eventData.$emit('offPaginador_companies', 0)
        }
        if(evento === 'recarga_companies'){
          dataBus.$emit('btnsToggle_companies', allInpts, "");
          this.inputsClear()
          eventData.$emit('offPaginador_companies', 0)
        }
      })
      dataBus.$emit('titulo', 'Administración de empresas');
      dataBus.$on('buscarEdos_companies', (estados) => {
        $("#selecEstado option:selected").val(estados[0].state_id).text(estados[0].name)
      })
      dataBus.$on('buscarCds_companies', (ciudades) => {
        $("#selecCiudad option:selected").val(ciudades[0].city_id).text(ciudades[0].name)
      })
      dataBus.$on('buscarCols_companies', (colonias) => {
        $("#selecColonia option:selected").val(colonias[0].neighborhood_id).text(colonias[0].name)
      })
      eventBus.$on('clearFrom_companies', (ac) => {
        this.inputsClear()
      })
    },
    beforeCreate() {
      dataBus.$on('listEdosResp',(edos) => {
        this.edos = edos;
      });
      dataBus.$on('listCdsResp', (cdsResp) => {
        this.ciudades = cdsResp;
      });
      dataBus.$on('listColResp', (colResp) => {
        this.colonias = colResp;
      });
      dataBus.$on('lAjaxResp_companies', (resp) => {
        this.idEmp = resp[0].company_id
        this.nomEmpre = resp[0].business_name
        this.rfcEmpre = resp[0].rfc
        this.dirEmpre = resp[0].address
        this.typeEmpr = resp[0].typed
        methodsBus.$emit('buscarSelects', [{'event': 'buscarEdos_companies', 'tipo': 'companies', 'url': '/states/search?id='+resp[0].neighborhood.city.state.state_id, 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded' }])
        methodsBus.$emit('buscarSelects', [{'event': 'buscarCds_companies', 'tipo': 'companies', 'url': '/cities/search?id='+resp[0].neighborhood.city.city_id, 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded' }])
        methodsBus.$emit('buscarSelects', [{'event': 'buscarCols_companies', 'tipo': 'companies', 'url': '/neighborhoods/search?id='+resp[0].neighborhood.neighborhood_id, 'data': '', 'metodo': 'GET', 'header': 'x-www-form-urlencoded' }])
        $("#selecPais").val(resp[0].neighborhood.city.state.country.country_id)
        $(".form label").addClass('active')
        dataBus.$emit('btnsEdit_companies', 1);
      })
      dataBus.$on('upDateResp', (updtResp) => {
        let echo = ''
        updtResp.success === true ? echo = 'success' : echo = 'warning'
        swal(updtResp.message, {
          icon: echo,
          buttons: false,
          timer: 2000
        })
        dataBus.$emit('btnsToggle_companies', allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
      })
      dataBus.$on('saveResp', (saveResp) => {
        let echo = ''
        saveResp.success === true ? echo = 'success' : echo = 'warning'
        swal(saveResp.message, {
          icon: echo,
          buttons: false,
          timer: 2000
        })
        dataBus.$emit('btnsToggle_companies', allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
      })
      dataBus.$on('paraEliminar_companies', (borrar, listDel) => {
        this.borrar = borrar
        this.listDel = listDel
      })
      /* Cargas iniciales */
      // Paices
      axios({
        method: 'GET',
        url: 'http://sisprovisa.com:8888/siafi/web-service/api/countries/search?order=asc&column_order=name&active=1'
        })
        .then(resp => {
          this.paices = resp.data;
          }, err => {
            this.errores = err;
            //console.log(err);
      });
      // Componente DataTable
      axios({
          method: 'GET',
          url: 'http://sisprovisa.com:8888/siafi/web-service/api/companies/data-viewer?column=business_name&direction=asc&search_operator=like&search_input=&per_page=5'
        })
        .then(resp => {
          $('#loading').hide()
          dataBus.$emit('dataTable_companies', resp.data, 'companies')
          this.companies = resp.data.model.data;
        }, err => {
          this.errores = err;
          //console.log(err);
        });
    },
    mounted() {
      $('#dashMenu').hide()
      dataBus.$emit('btnsToggle_companies', allInpts, "")
    },
    updated(){
      //console.log('actualizado...')
    },
    beforeDestroy(){
      //
    }
  }

</script>
<style scoped>
</style>
<style>

</style>