<template>
  <div class="container-fluid">
    <div class="flow-text">
      <div class="form">
        <div class="row">
          <div class="col-sm-0 col-md-3 col-lg-3"></div>
          <div class="col-sm-12 col-md-6 col-lg-6 white">
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 form-group" style="margin-top: 1em;">
                <select id="selEmpresaBank" class="form-control" @change="CargarUnidades()" >
                  <option value="-1">-- SELECCIONE EMPRESA --</option>
                  <option v-for="emp in empresas" :value="emp.company_id" > {{ emp.business_name}} </option>
                </select>
              </div>
              </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 form-group">
                <select id="selUnitBank" class="form-control" required >
                  <option value="-1">-- SELECCIONE UNIDAD --</option>
                  <option v-for="uni in unidades" :value="uni.unit_id" :data-companyid="uni.company_id" > {{ uni.description }} </option>
                </select>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 form-group">
                <select id="selbancNameBakn" class="form-control" required >
                  <option value="-1">-- SELECCIONE BANCO --</option>
                  <option v-for="bco in bancos" :value="bco.bank_id"> {{ bco.description }} </option>
                </select>
              </div>
              </div>
              <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 form-group input-field" >
                <input type="text" id="numCtaBank" class="form-control" v-model="nCtaBanc" required />
                <label for="numCtaBank" >cuenta</label>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8 form-group input-field" >
                <input type="text" id="shortNameBank" class="form-control"  v-model="nomCtoCBanc" required />
                <label for="shortNameBank" >Nombre Corto</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 form-group input-field">
                <input type="text" id="firmaBank1" class="form-control"  v-model="firma1" />
                <label for="firmaBank1" >firma 1</label>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 form-group input-field">
                <input type="text" id="firmaBank2" class="form-control"  v-model="firma2" >
                <label for="firmaBank2" >firma 2</label>
              </div>
            </div>
            <div class="row radiobtn text-center" id="tipCtasBank" required >
                <div v-for="tb in typeBanks" class="col" >
                    <input type="radio" name="tipCtasBank" :id="'tb'+tb.bank_account_type_id" :data-id="tb.bank_account_type_id" />
                    <label :for="'tb'+tb.bank_account_type_id" > {{tb.description}} </label>
                </div>
            </div>
          </div>
          <div class="col-sm-0 col-md-3 col-lg-3"></div>
        </div>
      </div>
      <div class="row">
        <botones module="bank-accounts" :dashname='dashname' ></botones>
      </div>
    </div>
    <datatbl :head="head" ord="description" modo="asc" nomId="bank_account_id" module="bank-accounts"></datatbl>
  </div>
</template>


<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import buttonsBanks from '../../utileria/botonera';
import tblBanks from '../../utileria/loadTable';

let allInpts = '#selEmpresaBank, #selUnitBank, #selbancNameBakn, #numCtaBank, #shortNameBank, #firmaBank1, #firmaBank2, [name=tipCtasBank]',
    inselect = '#selEmpresaBank, #selUnitBank, #selbancNameBakn',
    innormal = '#numCtaBank, #shortNameBank, #firmaBank1, #firmaBank2',
    inradiob = '[name=tipCtasBank]'

export default {
    components: {
        botones: buttonsBanks,
        datatbl: tblBanks
    },
    data(){
        return {
            head: [{account_number:'cuenta'}, {description: 'nombre'}, {bank: 'banco'}],
            empresas: [],
            unidades: [],
            bancos: [],
            typeBanks: 0,
            nCtaBanc: 0,
            nomCtoCBanc: '',
            firma1: '',
            firma2: '',
            idSelected: 0,
            userId: localStorage.getItem('id_usuario'),
            borrar: '',
            listDel: [],
            dashname: 'CONFIGURACIÓN' 
        }
    },
    computed: {
    },
    methods: {
        CargarUnidades(){
            let url = '', id=$('#selEmpresaBank').val()
            !isNaN(parseInt(id)) && parseInt(id) > 0 ? url = '/units/search?company_id='+id : url = '/units/search?active=1&column_order=description&order=asc'
            methodsBus.$emit('listarAjax', [{
                'event': 'select_Unidades',
                'tipo': 'bank-accounts',
                'url': url,
                'data': '',
                'metodo': 'GET',
                'header': 'x-www-form-urlencoded'
            }])
        },
        selectCompanyByUnit() {
            $("#selEmpresaBank").val( $("#selUnitBank option:selected").data('companyid') )
        },
        inputsClear(disabled = true){
            let obj = [{
                element: inselect,
                type: 'select'
            }, {
                element: innormal,
                type: 'input'
            }]
            for (var v in obj) {
                obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
                    'border': '0px',
                    'border-bottom': '1px dotted rgba(0,0,0,0.42)'
                }) : $(obj[v].element).val('').css({
                    'border': '0px',
                    'border-bottom': '1px dotted rgba(0,0,0,0.42)'
                })
            }
            this.nCtaBanc = ''
            this.nomCtoCBanc = ''
            this.firma1 = ''
            this.firma2 = ''
            $("#tipCtasBank input").prop('checked',false).prop('disabled', disabled)
            $(".form label").removeClass('active')
        },
        validate_required() {
            var control = 0;
            //VALIDACION DE FORMULARIO.
            $('.form').find("input[required], textarea[required], select[required], div[required]").each(function (i, e) {
                if (e.tagName === "INPUT") {
                    //valido que todo los imput este llenos
                    if (e.value === "") {
                        control = 1 + control;
                        $(e).addClass("requerido");
                    } else {
                        $(e).removeClass("requerido");
                    }
                    //valido lo correos
                    if (e.type === "email") {
                        var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                        if (!regex.test($("#" + idinput).val().trim())) {
                            control = 1 + control;
                            $(e).addClass("requerido");
                        } else {
                            $(e).removeClass("requerido");
                        }
                    }
                    //Valido los numero telefonicos
                    else if (e.type === "tel") {
                        if (isNaN(e.value)) {
                            $(e).addClass("requerido");
                            control = 1 + control;
                        } else if (e.value.length < 9) {
                            $(e).addClass("requerido");
                            control = 1 + control;
                        } else {
                            $(e).removeClass("requerido");
                        }
                    }
                } else if (e.tagName === "TEXTAREA") {
                    //valido que todo los textarea este llenos
                    if (e.value === "") {
                        control = 1 + control;
                        $(e).addClass("requerido");
                    } else {
                        $(e).removeClass("requerido");
                    }
                } else if (e.tagName === "SELECT") {
                    console.log()
                    if ($(e).attr('required') && $(e).val() <= 0) {
                        control = 1 + control;
                        $(e).addClass("requerido");
                    } else {
                        $(e).removeClass("requerido");
                    }
                } else if (e.tagName === 'DIV'){
                    if($('[name='+ $(e).attr('id') +']:checked').data('id') === undefined ){
                        $(e).addClass("requerido");
                        control = 1 + control;
                    } else {
                        $(e).removeClass("requerido");
                    }
                }
            });
            if (control === 0) {
                return true;
            } else {
                Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
                return false
            }
        },
        eliminarBank(){
            var lista = '',
            text = '',
            line = document.createElement('hr'),
            ul = document.createElement('ul'),
            div = document.createElement('div')
            for (var d in this.listDel) {
                lista = document.createElement('li')
                text = document.createTextNode(this.listDel[d])
                lista.appendChild(text)
                ul.appendChild(lista)
            }
            div.appendChild(ul)
            div.insertAdjacentElement('beforeEnd', line)
            swal({
                title: "Desea Eliminar...",
                text: '',
                content: div,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    let params = {
                        ids: this.borrar,
                        typed: this.userId
                    }
                    methodsBus.$emit('listarAjax', [{
                        'event': 'respDel',
                        'tipo': '',
                        'url': '/bank-accounts/delete',
                        'data': params,
                        'metodo': 'POST',
                        'header': 'x-www-form-urlencoded'
                    }])
                    dataBus.$on('respDel', (respElim) => {
                        //console.log(respElim)
                        if (respElim.success) {
                            swal(respElim.message, {
                                icon: "success",
                            });
                            this.borrar = ''
                            this.listDel = []
                            dataBus.$emit('refresTable', 0)
                        } else {
                            swal(respElim.message, {
                                icon: 'error'
                            })
                        }
                    })
                } else {
                    swal("Operación Cancelada...", {
                        icon: 'info'
                    });
                    dataBus.$emit('refresTable', 0)
                }
            });
        },
        guardarBank(action){
            if (this.validate_required()) {
                //
                $("#tipCtasBank input").attr('disabled',true)
                let param = {
                    account_number: this.nCtaBanc,
                    unit_id: $('#selUnitBank').val(),
                    bank_id: $('#selbancNameBakn').val(),
                    bank_account_type_id: $("#tipCtasBank input:checked").data('id'),
                    description: this.nomCtoCBanc,
                    signature_one: this.firma1,
                    signature_two: this.firma2,
                    typed: this.userId
                }
                let datos = this.idSelected +'?account_number='+ this.nCtaBanc +'&unit_id='+ $('#selUnitBank').val() +'&bank_id='+ $('#selbancNameBakn').val() +'&bank_account_type_id='+ $("#tipCtasBank input:checked").data('id') +'&description='+ this.nomCtoCBanc +'&signature_one='+ this.firma1 +'&signature_two='+ this.firma2 +'&typed='+ this.userId
                let url = ''
                action == 0 ? url = '/bank-accounts/store' : url = '/bank-accounts/update/';
                switch (action) {
                    case 0:
                    // Agregar Nuevo Registro
                    methodsBus.$emit('guardarAjax', [{
                        'event': 'saveResp',
                        'tipo': '',
                        'url': url,
                        'data': param,
                        'metodo': 'POST',
                        'header': 'form-data'
                    }])
                    break;
                    case 1:
                    // Actualizar Registro Existente
                    methodsBus.$emit('guardarAjax', [{
                        'event': 'upDateResp',
                        'tipo': '',
                        'url': url + datos,
                        'data': '',
                        'metodo': 'PUT',
                        'header': 'form-data'
                    }])
                    break;
                }
            }
        }
    },
    mounted() {
        $('#dashMenu').hide()

        dataBus.$emit('btnsToggle_bank-accounts', allInpts, "")
        
        dataBus.$emit('titulo', 'Administración de Bancos')

        eventBus.$on('clearFrom_bank-accounts', (ac) => {
            this.inputsClear()
        })
        eventBus.$on('btnAct_bank-accounts', (event, action) => {
            //console.log('recibiendo btn: ', event, action)
            if (event === 'guardar_bank-accounts') {
                this.guardarBank(action)
            }
            if (event === 'editar_bank-accounts') {
                $('table tbody').off('click')
                $('table tbody input').attr('disabled', true)
                $("#tipCtasBank input").attr('disabled', false)
                eventData.$emit('offPaginador_bank-accounts', 1)
                dataBus.$emit('btnsToggle_bank-accounts', "", allInpts);
            }
            if (event === 'nuevo_bank-accounts') {
                $('table tbody').off('click')
                $('table tbody input').attr('disabled', true)
                eventData.$emit('offPaginador_bank-accounts', 1)
                dataBus.$emit('btnsToggle_bank-accounts', "", allInpts);
                this.unidades = []
                this.inputsClear(false)
            }
            if (event === 'cancelar_bank-accounts') {
                dataBus.$emit('btnsToggle_bank-accounts', allInpts, "");
                this.inputsClear()
                this.CargarUnidades(0)
                dataBus.$emit('refresTable', 0)
                eventData.$emit('offPaginador_bank-accounts', 0)
                $("#tipCtasBank input").attr('disabled',true)
            }
            if (event === 'eliminar_bank-accounts') {
                this.eliminarBank()
            }
            if(event === 'recarga_bank-accounts'){
                dataBus.$emit('btnsToggle_bank-accounts', allInpts, "");
                this.inputsClear()
                eventData.$emit('offPaginador_bank-accounts', 0)
            }
        })
        methodsBus.$emit('listarAjax', [{
            'event': 'select_Empresa',
            'tipo': 'bank-accounts',
            'url': '/companies/search?active=1&column_order=business_name&order=asc',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
        this.CargarUnidades(0)
        methodsBus.$emit('listarAjax', [{
            'event': 'select_Banco',
            'tipo': 'bank-accounts',
            'url': '/banks/search?active=1&column_order=description&order=asc',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
        methodsBus.$emit('listarAjax', [{
            'event': 'inRadio_TypeBank',
            'tipo': 'bank-accounts',
            'url': '/bank-account-types/search?active=1',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
    },
    beforeCreate(){
        dataBus.$on('upDateResp', (updtResp) => {
            let echo = '',
            msg = ''
            updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (updtResp.success) {
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                dataBus.$emit('btnsToggle_bank-accounts', allInpts, "");
                eventBus.$emit('echo_bank-accounts', true)
                eventData.$emit('offPaginador_bank-accounts', 0)
            }
        })
        dataBus.$on('saveResp', (saveResp) => {
            let echo = '',
            msg = ''
            saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (saveResp.success) {
                dataBus.$emit('btnsToggle_bank-accounts', allInpts, "");
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                eventData.$emit('offPaginador_bank-accounts', 0)
            }
        })
        dataBus.$on('paraEliminar_bank-accounts', (borrar, listDel) => {
            this.borrar = borrar
            this.listDel = listDel
        })
        // select de empresas
        dataBus.$on('select_Empresa', (companys) => {
            this.empresas = companys
        })
        // select de unidades
        dataBus.$on('select_Unidades', (units) => {
            units.success === false ? this.unidades = [] : this.unidades = units
        })
        dataBus.$on('select_Banco', (banks) => {
            this.bancos = banks
        })
        dataBus.$on('inRadio_TypeBank', (typBanks) => {
            this.typeBanks = typBanks
        })
        // Para llenar el formulario
        dataBus.$on('lAjaxResp_bank-accounts', (fillForm) => {
            this.nCtaBanc = fillForm[0].account_number
            this.nomCtoCBanc = fillForm[0].description
            this.firma1 = fillForm[0].signature_one
            this.firma2 = fillForm[0].signature_two
            this.idSelected = fillForm[0].bank_account_id
            $('#selUnitBank').val( fillForm[0].unit_id)
            $('#selbancNameBakn').val( fillForm[0].bank_id )
            // $("#tipCtasBank input").data('id',fillForm[0].bank_account_type_id).prop('checked',true)
            $("#tb"+fillForm[0].bank_account_type_id).prop('checked',true)
            this.selectCompanyByUnit(fillForm[0].unit_id)
            $(".form label").addClass('active')
            dataBus.$emit('btnsEdit_bank-accounts', 1);
        })
        // Para el DataTable
        methodsBus.$emit('listarAjax', [{ 
            'event': 'dataTable_bank-accounts',
            'tipo': 'bank-accounts',
            'url': '/bank-accounts/data-viewer?column=bank_account_id&direction=asc&search_operator=like&search_input=&per_page=5',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
    }
}
</script>
<style scoped>

</style>
<style>

</style>
