<template>
    <div class="container-fluid">
        <div class="flow-text">
            <div class="form">
                <div class="row">
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 white">
                        <div class="row" style="margin-top: 1em;" >
                            <div class="col-6 form-group">
                                <select id="idEmpresa" class="form-control" @change="listUnitsByCompany()" required >
                                <option value="-1">-- SELECCIONE EMPRESA --</option>
                                <option v-for="emp in empresas" :value="emp.company_id"> {{ emp.business_name}} </option>
                            </select>
                            </div>
                            <div class="col-6 form-group">
                                <select id="idUnidad" class="form-control" required >
                                    <option value="-1">-- SELECCIONE UNIDAD --</option>
                                    <option v-for="uni in unidades" :value="uni.unit_id" :data-companyid="uni.company_id" > {{ uni.description }} </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group input-field">
                                <input type="text" name="" id="nomSucursal" v-model="sucursalNom" class="form-control" disabled />
                                <label for="nomSucursal">sucursal</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                </div>
            </div>
            <div class="row">
                <btns_branches :module="urlMod" :dashname='dashname' ></btns_branches>
            </div>
        </div>
        <tbl_branches :head="head" ord="description" modo="asc" nomId="branch_id" :module="urlMod" ></tbl_branches>
    </div>
</template>
<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import btnActns_branches from '../../utileria/botonera';
import tbl_branches from '../../utileria/loadTable';

let allInpts = '#idEmpresa, #idUnidad',
  inselect = '#idEmpresa, #idUnidad',
  innormal = ''
export default {
  components: {
    btns_branches: btnActns_branches,
    tbl_branches: tbl_branches
  },
  data() {
    return {
      head: [{ 'cve': 'cve' }, {'description': 'sucursal'}],
      urlMod: 'branches',
      empresas: [],
      unidades: [],
      id: '',
      listDel: [],
      userId: localStorage.getItem('id_usuario'),
      dashname: 'CONFIGURACIÓN',
      sucursalNom: ''
    }
  },
  methods: {
    guardar_(action) {
      if (this.validate_required()) {
        //
        let param = {
            //
            typed: this.userId
          },
          datos = this.id+'?',
          urlMod = this.esteModulo
        action == 0 ? url = '/' + urlMod + '/store' : url = '/' + urlMod + '/update/';
        switch (action) {
          case 0:
            // Agregar Nuevo Registro
            //console.log('Nueva: ', param)
            methodsBus.$emit('guardarAjax', [{
              'event': 'saveResp',
              'tipo': '',
              'url': url,
              'data': param,
              'metodo': 'POST',
              'header': 'form-data'
            }])
            break;
          case 1:
            // Actualizar Registro Existente
            //console.log('Modifica: ', datos)
            methodsBus.$emit('guardarAjax', [{
              'event': 'upDateResp',
              'tipo': '',
              'url': url + datos,
              'data': '',
              'metodo': 'PUT',
              'header': 'form-data'
            }])
            break;
        }
      }
    },
    eliminar_() {
      var lista = '',
        text = '',
        line = document.createElement('hr'),
        ul = document.createElement('ul'),
        div = document.createElement('div')
      for (var d in this.listDel) {
        lista = document.createElement('li')
        text = document.createTextNode(this.listDel[d])
        lista.appendChild(text)
        ul.appendChild(lista)
      }
      div.appendChild(ul)
      div.insertAdjacentElement('beforeEnd', line)
      swal({
          title: "Desea Eliminar...",
          text: '',
          content: div,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            let params = {
              ids: this.borrar,
              typed: this.userId
            }
            methodsBus.$emit('listarAjax', [{
              'event': 'respDel',
              'tipo': '',
              'url': '/' + this.urlMod + '/delete',
              'data': params,
              'metodo': 'POST',
              'header': 'x-www-form-urlencoded'
            }])
            dataBus.$on('respDel', (respElim) => {
              //console.log(respElim)
              if (respElim.success) {
                swal(respElim.message, {
                  icon: "success",
                });
                this.borrar = ''
                this.listDel = []
                dataBus.$emit('refresTable', 0)
              } else {
                swal(respElim.message, {
                  icon: 'error'
                })
              }
            })

          } else {
            swal("Operación Cancelada...", {
              icon: 'info'
            });
            dataBus.$emit('refresTable', 0)
          }
        });
    },
    inputsClear() {
      let obj = [{
        element: inselect,
        type: 'select'
      }, {
        element: innormal,
        type: 'input'
      }]
      for (var v in obj) {
        obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        }) : $(obj[v].element).val('').css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        })
      }
      this.descPto = ''
      $(".form label").removeClass('active')
    },
    validate_required() {
      var control = 0;
      //VALIDACION DE FORMULARIO.
      $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
        if (e.tagName === "INPUT") {
          //valido que todo los imput este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
          //valido lo correos
          if (e.type === "email") {
            var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
            if (!regex.test($("#" + idinput).val().trim())) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
          //Valido los numero telefonicos
          else if (e.type === "tel") {
            if (isNaN(e.value)) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else if (e.value.length < 9) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else {
              $(e).removeClass("requerido");
            }
          }
        } else if (e.tagName === "TEXTAREA") {
          //valido que todo los textarea este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        } else if (e.tagName === "SELECT") {
          console.log()
          if ($(e).attr('required') && $(e).val() <= 0) {
            control = 1 + control;
            $(e).addClass("requerido");
          } else if (e.value === "0") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        }
      });
      if (control === 0) {
        return true;
      } else {
        Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
        return false
      }
    },
    listUnitsByCompany(){
        let url = '', id = $("#idEmpresa").val()
        !isNaN(parseInt(id)) && parseInt(id) > 0 ? url = '/units/search?company_id='+ id +'&column_order=description&order=asc' : url = '/units/search?active=1&column_order=description&order=asc'
        methodsBus.$emit('listarAjax', [{
        'event': 'select_Unidad',
        'tipo': 'sucursales',
        'url': url,
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    }
  },
  mounted() {
    $('#dashMenu').hide()
    dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "")
    dataBus.$emit('titulo', 'Administración de sucursales');
    eventBus.$on('clearFrom_' + this.urlMod, (ac) => {
      this.inputsClear()
    })
    eventBus.$on('btnAct_' + this.urlMod, (event, action) => {
      if (event === 'guardar_' + this.urlMod) {
        this.guardar_(action)
      }
      if (event === 'editar_' + this.urlMod) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.urlMod, 1)
        dataBus.$emit('btnsToggle_' + this.urlMod, "", allInpts);
      }
      if (event === 'nuevo_' + this.urlMod) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.urlMod, 1)
        dataBus.$emit('btnsToggle_' + this.urlMod, "", allInpts);
        this.inputsClear()
      }
      if (event === 'cancelar_' + this.urlMod) {
        dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + this.urlMod, 0)
        this.listUnitsByCompany()
      }
      if (event === 'eliminar_' + this.urlMod) {
        this.eliminar_()
      }
      if (event === 'recarga_' + this.urlMod) {
        dataBus.$emit('btnsToggle_' + this.urlMod, allInpts, "");
        this.inputsClear()
        eventData.$emit('offPaginador_companies', 0)
      }
    })
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Empresa',
        'tipo': 'sucursales',
        'url': '/companies/search?active=1&column_order=business_name&order=asc',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
    methodsBus.$emit('listarAjax', [{
        'event': 'select_Unidad',
        'tipo': 'sucursales',
        'url': '/units/search?active=1&column_order=description&order=asc',
        'data': '',
        'metodo': 'GET',
        'header': 'x-www-form-urlencoded'
    }])
  },
  beforeCreate() {
    let urlMod = 'branches'
    dataBus.$on('upDateResp', (updtResp) => {
      let echo = '',
        msg = ''
      updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (updtResp.success) {
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        eventBus.$emit('echo_' + urlMod, true)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    dataBus.$on('saveResp', (saveResp) => {
      let echo = '',
        msg = ''
      saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (saveResp.success) {
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    // Select de Empresa
    dataBus.$on('select_Empresa', (empresas) => {
        this.empresas = empresas
    })
    // select de unidades
    dataBus.$on('select_Unidad', (units) => {
        units.success === false ? this.unidades = [] : this.unidades = units
    })
    // Para llenar el formulario
    dataBus.$on('lAjaxResp_' + urlMod, (resp) => {
      console.log('Para llenar: ', resp);
    })
    // Para el DataTable
    methodsBus.$emit('listarAjax', [{
      'event': 'dataTable_' + urlMod,
      'tipo': urlMod,
      'url': '/' + urlMod + '/data-viewer?column=description&direction=asc&search_operator=like&search_input=&per_page=5',
      'data': '',
      'metodo': 'GET',
      'header': 'x-www-form-urlencoded'
    }])
  }
}

</script>
<style scoped>
</style>
