<template>
    <div class="container-fluid">
        <div class="flow-text">
            <div class="form">
                <div class="row">
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 white">
                      <div class="row">
                        <div class="col-12 form-group" style="margin-top: 1em;" >
                            <select id="ctasMadres" class="form-control" required >
                              <option value="-1">-- SELECCIONE CUENTA MADRE --</option>
                              <option v-for="cta in ctasMadres" :value="cta.mother_account_id"> ( {{ cta.cve }} ) {{ cta.description }} </option>
                            </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4 form-group input-field">
                          <input type="text" id="cveSubCta" v-model="cveSubCta" class="form-control" disabled />
                          <label for="cveSubCta" >**CVE </label>
                        </div>
                        <div class="col-8 form-group input-field">
                          <input type="text" id="descripcion" :value="descripcion" class="form-control" required />
                          <label for="descripcion">Nombre</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-0 col-md-3 col-lg-3"></div>
                </div>
            </div>
            <div class="row">
                <btnsConfSubCtas :module="esteModulo" :dashname='dashname' ></btnsConfSubCtas>
            </div>
        </div>
        <tblConfSubCtas :head="head" ord="description" modo="asc" nomId="mother_account_detail_id" :module="esteModulo" ></tblConfSubCtas>
    </div>
</template>
<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import btnActns_SubCtas from '../../utileria/botonera';
import tbl_SubCtas from '../../utileria/loadTable';

let allInpts = '#ctasMadres, #descripcion',
  inselect = '#ctasMadres',
  innormal = '#descripcion'
export default {
  components: {
    btnsConfSubCtas: btnActns_SubCtas,
    tblConfSubCtas: tbl_SubCtas
  },
  data() {
    return {
      head: [{ 'cve': 'sub-cuenta' }, { 'description': 'descripción'}],
      esteModulo: 'mother-accounts-details',
      borrar: '',
      listDel: [],
      userId: localStorage.getItem('id_usuario'),
      id: 0,
      ctasMadres: [],
      cveSubCta: '',
      descripcion: '',
       dashname: 'CONFIGURACIÓN'
    }
  },
  methods: {
    guardar_(action) {
      if (this.validate_required()) {
        //
        let param = {
            //
            mother_account_id: $('#ctasMadres').val(),
            description: $(descripcion).val(),
            typed: this.userId
          },
          datos = this.id +'?description='+ this.descripcion +'&mother_account_id='+ $('#ctasMadres').val() +'&typed='+ this.userId,
          urlMod = this.esteModulo,
          url = ''
        action == 0 ? url = '/' + urlMod + '/store' : url = '/' + urlMod + '/update/';
        switch (action) {
          case 0:
            // Agregar Nuevo Registro
            console.log('Nueva: ', param)
            methodsBus.$emit('guardarAjax', [{
              'event': 'saveResp',
              'tipo': '',
              'url': url,
              'data': param,
              'metodo': 'POST',
              'header': 'form-data'
            }])
            break;
          case 1:
            // Actualizar Registro Existente
            console.log('Modifica: ', datos)
            methodsBus.$emit('guardarAjax', [{
              'event': 'upDateResp',
              'tipo': '',
              'url': url + datos,
              'data': '',
              'metodo': 'PUT',
              'header': 'form-data'
            }])
            break;
        }
      }
    },
    eliminar_() {
      var lista = '',
        text = '',
        line = document.createElement('hr'),
        ul = document.createElement('ul'),
        div = document.createElement('div')
      for (var d in this.listDel) {
        lista = document.createElement('li')
        text = document.createTextNode(this.listDel[d])
        lista.appendChild(text)
        ul.appendChild(lista)
      }
      div.appendChild(ul)
      div.insertAdjacentElement('beforeEnd', line)
      swal({
          title: "Desea Eliminar...",
          text: '',
          content: div,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            let params = {
              ids: this.id,
              typed: this.userId
            }
            methodsBus.$emit('listarAjax', [{
              'event': 'respDel',
              'tipo': '',
              'url': '/' + this.esteModulo + '/delete',
              'data': params,
              'metodo': 'POST',
              'header': 'x-www-form-urlencoded'
            }])
            dataBus.$on('respDel', (respElim) => {
              //console.log(respElim)
              if (respElim.success) {
                swal(respElim.message, {
                  icon: "success",
                });
                this.borrar = ''
                this.listDel = []
                dataBus.$emit('refresTable', 0)
              } else {
                swal(respElim.message, {
                  icon: 'error'
                })
              }
            })

          } else {
            swal("Operación Cancelada...", {
              icon: 'info'
            });
            dataBus.$emit('refresTable', 0)
          }
        });
    },
    inputsClear() {
      let obj = [{
        element: inselect,
        type: 'select'
      }, {
        element: innormal,
        type: 'input'
      }]
      for (var v in obj) {
        obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        }) : $(obj[v].element).val('').css({
          'border': '0px',
          'border-bottom': '1px dotted rgba(0,0,0,0.42)'
        })
      }
      this.cveSubCta = ''
      this.descripcion = ''
      $(".form label").removeClass('active')
    },
    validate_required() {
      var control = 0;
      //VALIDACION DE FORMULARIO.
      $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
        if (e.tagName === "INPUT") {
          //valido que todo los imput este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
          //valido lo correos
          if (e.type === "email") {
            var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
            if (!regex.test($("#" + idinput).val().trim())) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
          //Valido los numero telefonicos
          else if (e.type === "tel") {
            if (isNaN(e.value)) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else if (e.value.length < 9) {
              $(e).addClass("requerido");
              control = 1 + control;
            } else {
              $(e).removeClass("requerido");
            }
          }
        } else if (e.tagName === "TEXTAREA") {
          //valido que todo los textarea este llenos
          if (e.value === "") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        } else if (e.tagName === "SELECT") {
          console.log()
          if ($(e).attr('required') && $(e).val() <= 0) {
            control = 1 + control;
            $(e).addClass("requerido");
          } else if (e.value === "0") {
            control = 1 + control;
            $(e).addClass("requerido");
          } else {
            $(e).removeClass("requerido");
          }
        }
      });
      if (control === 0) {
        return true;
      } else {
        Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
        return false
      }
    }
  },
  mounted() {
    $('#dashMenu').hide()
    dataBus.$emit('btnsToggle_' + this.esteModulo, allInpts, "")
    dataBus.$emit('titulo', 'Administración de Sub Cuentas');
    eventBus.$on('clearFrom_' + this.esteModulo, (ac) => {
      this.inputsClear()
    })
    eventBus.$on('btnAct_' + this.esteModulo, (event, action) => {
      if (event === 'guardar_' + this.esteModulo) {
        this.guardar_(action)
      }
      if (event === 'editar_' + this.esteModulo) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.esteModulo, 1)
        dataBus.$emit('btnsToggle_' + this.esteModulo, "", allInpts);
      }
      if (event === 'nuevo_' + this.esteModulo) {
        $('table tbody').off('click')
        $('table tbody input').attr('disabled', true)
        eventData.$emit('offPaginador_' + this.esteModulo, 1)
        dataBus.$emit('btnsToggle_' + this.esteModulo, "", allInpts);
        this.inputsClear()
      }
      if (event === 'cancelar_' + this.esteModulo) {
        dataBus.$emit('btnsToggle_' + this.esteModulo, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + this.esteModulo, 0)
      }
      if (event === 'eliminar_' + this.esteModulo) {
        this.eliminar_()
      }
      if (event === 'recarga_' + this.esteModulo) {
        dataBus.$emit('btnsToggle_' + this.esteModulo, allInpts, "");
        this.inputsClear()
        eventData.$emit('offPaginador_companies', 0)
      }
    })
    methodsBus.$emit('listarAjax', [{
            'event': 'select_ctasMadres',
            'tipo': 'mother-accounts',
            'url': '/mother-accounts/search?active=1&column_order=description&order=asc',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
  },
  beforeCreate() {
    let urlMod = 'mother-accounts-details'
    dataBus.$on('upDateResp', (updtResp) => {
      let echo = '',
        msg = ''
      updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (updtResp.success) {
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        eventBus.$emit('echo_' + urlMod, true)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    dataBus.$on('saveResp', (saveResp) => {
      let echo = '',
        msg = ''
      saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
      swal(msg, {
        icon: echo,
        buttons: false,
        timer: 2000
      })
      if (saveResp.success) {
        dataBus.$emit('btnsToggle_' + urlMod, allInpts, "");
        this.inputsClear()
        dataBus.$emit('refresTable', 0)
        eventData.$emit('offPaginador_' + urlMod, 0)
      }
    })
    dataBus.$on('select_ctasMadres', (ctasMadres) => {
            this.ctasMadres = ctasMadres
        })
    // Para llenar el formulario
    dataBus.$on('lAjaxResp_' + urlMod, (resp) => {
      this.id = resp[0].mother_account_detail_id
      $('#ctasMadres').val(resp[0].mother_account_id)
      this.cveSubCta = resp[0].cve
      this.descripcion = resp[0].description
      this.listDel = [ resp[0].cve, resp[0].description ]
      $(".form label").addClass('active')
      dataBus.$emit('btnsEdit_' + urlMod, 1);
    })
    // Para el DataTable
    methodsBus.$emit('listarAjax', [{
      'event': 'dataTable_' + urlMod,
      'tipo': urlMod,
      'url': '/' + urlMod + '/data-viewer?column=description&direction=asc&search_operator=like&search_input=&per_page=5',
      'data': '',
      'metodo': 'GET',
      'header': 'x-www-form-urlencoded'
    }])
  }
}

</script>
<style scoped>
</style>
