<template>
    <div class="container-fluid">
        <div class="flow-text">
            <div class="row">
                <div class="col-sm-0 col-md-3 col-lg-3"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 white">
                    <div class="row form">
                        <div class="col-12 form-group" style="margin-top: 1em;" >
                            <select id="idTipoPto" class="form-control" required >
                                <option value="-1">-- SELECCIONE TIPO DE PUESTO --</option>
                                <option v-for="tip in tipoPuestos" :value="tip.job_position_type_id"> {{ tip.description }} </option>
                            </select>
                        </div>
                        <div class="col-12 form-group">
                            <select id="idTipoNom" class="form-control" required >
                                <option value="-1">-- SELECCIONE TIPO DE NÓMINA --</option>
                                <option v-for="tnom in tipNomina" :value="tnom.payroll_type_id"> {{ tnom.description }} </option>
                            </select>
                        </div>
                        <div class="col-12 form-group input-field">
                            <input type="text" id="descPto" class="form-control" v-model="descPto" required >
                            <label for="descPto" >Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <botones module="job-positions" :dashname='dashname' ></botones>
            </div>
        </div>
        <dataTbl :head="head" ord="description" modo="asc" nomId="job_position_id" module="job-positions" ></dataTbl>
    </div>
</template>
<script>
import { dataBus } from '../../main.js';
import { eventBus } from '../../main.js';
import { eventData } from '../../main.js';
import { methodsBus } from '../../main.js';
import btnActions from '../../utileria/botonera';
import tblJob_positions from '../../utileria/loadTable';

let allInpts = '#idTipoPto, #idTipoNom, #descPto',
    inselect = '#idTipoPto, #idTipoNom',
    innormal = '#descPto'
export default {
    components: {
        botones: btnActions,
        dataTbl: tblJob_positions
    },
  data() {
      return {
          head: [{description: 'descripción'}],
          userId: localStorage.getItem('id_usuario'),
          idPuestoe: 0,
          tipoPuestos: [],
          tipNomina: [],
          descPto: '',
          borrar: '',
          listDel: [],
          dashname: 'CONFIGURACIÓN'
      }
  },
  methods: {
      guardarPuestos(action){
          if (this.validate_required()) {
          //
          let param = {
            job_position_type_id: $('#idTipoPto').val(),
            payroll_type_id: $('#idTipoNom').val(),
            description: this.descPto,
            typed: 1
          }
          let datos = this.idPuestoe + '?job_position_type_id=' + $('#idTipoPto').val() + '&description=' + this.descPto + '&payroll_type_id=' + $('#idTipoNom').val() + '&typed=' + this.userId
          let url = ''
          action == 0 ? url = '/job-positions/store' : url = '/job-positions/update/';
          switch (action) {
            case 0:
              // Agregar Nuevo Registro
              //console.log('Nueva: ', param)
              methodsBus.$emit('guardarAjax', [{
                'event': 'saveResp',
                'tipo': '',
                'url': url,
                'data': param,
                'metodo': 'POST',
                'header': 'form-data'
              }])
              break;
            case 1:
              // Actualizar Registro Existente
              //console.log('Modifica: ', datos)
              methodsBus.$emit('guardarAjax', [{
                'event': 'upDateResp',
                'tipo': '',
                'url': url + datos,
                'data': '',
                'metodo': 'PUT',
                'header': 'form-data'
              }])
              break;
          }
        }
      },
      eliminarPuestos(){
          var lista = '',
          text = '',
          line = document.createElement('hr'),
          ul = document.createElement('ul'),
          div = document.createElement('div')
        for (var d in this.listDel) {
          lista = document.createElement('li')
          text = document.createTextNode(this.listDel[d])
          lista.appendChild(text)
          ul.appendChild(lista)
        }
        div.appendChild(ul)
        div.insertAdjacentElement('beforeEnd', line)
        swal({
            title: "Desea Eliminar...",
            text: '',
            content: div,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              let params = {
                ids: this.borrar,
                typed: this.userId
              }
              methodsBus.$emit('listarAjax', [{
                'event': 'respDel',
                'tipo': '',
                'url': '/job-positions/delete',
                'data': params,
                'metodo': 'POST',
                'header': 'x-www-form-urlencoded'
              }])
              dataBus.$on('respDel', (respElim) => {
                //console.log(respElim)
                if (respElim.success) {
                  swal(respElim.message, {
                    icon: "success",
                  });
                  this.borrar = ''
                  this.listDel = []
                  dataBus.$emit('refresTable', 0)
                } else {
                  swal(respElim.message, {
                    icon: 'error'
                  })
                }
              })

            } else {
              swal("Operación Cancelada...", {
                icon: 'info'
              });
              dataBus.$emit('refresTable', 0)
            }
          });
      },
      inputsClear() {
        let obj = [{
          element: inselect,
          type: 'select'
        }, {
          element: innormal,
          type: 'input'
        }]
        for (var v in obj) {
          obj[v].type === 'select' ? $(obj[v].element).val(-1).css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          }) : $(obj[v].element).val('').css({
            'border': '0px',
            'border-bottom': '1px dotted rgba(0,0,0,0.42)'
          })
        }
        this.descPto = ''
        $(".form label").removeClass('active')
      },
      validate_required() {
        var control = 0;
        //VALIDACION DE FORMULARIO.
        $('.form').find("input[required], textarea[required], select[required]").each(function (i, e) {
          if (e.tagName === "INPUT") {
            //valido que todo los imput este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
            //valido lo correos
            if (e.type === "email") {
              var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
              if (!regex.test($("#" + idinput).val().trim())) {
                control = 1 + control;
                $(e).addClass("requerido");
              } else {
                $(e).removeClass("requerido");
              }
            }
            //Valido los numero telefonicos
            else if (e.type === "tel") {
              if (isNaN(e.value)) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else if (e.value.length < 9) {
                $(e).addClass("requerido");
                control = 1 + control;
              } else {
                $(e).removeClass("requerido");
              }
            }
          } else if (e.tagName === "TEXTAREA") {
            //valido que todo los textarea este llenos
            if (e.value === "") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          } else if (e.tagName === "SELECT") {
            console.log()
            if ($(e).attr('required') && $(e).val() <= 0) {
              control = 1 + control;
              $(e).addClass("requerido");
            } else if (e.value === "0") {
              control = 1 + control;
              $(e).addClass("requerido");
            } else {
              $(e).removeClass("requerido");
            }
          }
        });
        if (control === 0) {
          return true;
        } else {
          Materialize.toast('<i class="material-icons" >report_problem</i> Completa el/los campo(s)', 5000, 'rounded errCapt')
          return false
        }
      }
  },
  mounted() {
      $('#dashMenu').hide()
      dataBus.$emit('btnsToggle_job-positions', allInpts, "")
      dataBus.$emit('titulo', 'Administración de Puestos');
      eventBus.$on('clearFrom_job-positions', (ac) => {
        this.inputsClear()
      })
      eventBus.$on('btnAct_job-positions', (event, action) => {
        if (event === 'guardar_job-positions') {
          this.guardarPuestos(action)
        }
        if (event === 'editar_job-positions') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_job-positions', 1)
          dataBus.$emit('btnsToggle_job-positions', "", allInpts);
        }
        if (event === 'nuevo_job-positions') {
          $('table tbody').off('click')
          $('table tbody input').attr('disabled', true)
          eventData.$emit('offPaginador_job-positions', 1)
          dataBus.$emit('btnsToggle_job-positions', "", allInpts);
          this.inputsClear()
        }
        if (event === 'cancelar_job-positions') {
          dataBus.$emit('btnsToggle_job-positions', allInpts, "");
          this.inputsClear()
          dataBus.$emit('refresTable', 0)
          eventData.$emit('offPaginador_job-positions', 0)
        }
        if (event === 'eliminar_job-positions') {
          this.eliminarPuestos()
        }
        if(event === 'recarga_job-positions'){
          dataBus.$emit('btnsToggle_job-positions', allInpts, "");
          this.inputsClear()
          eventData.$emit('offPaginador_companies', 0)
        }
      })
      methodsBus.$emit('listarAjax', [{
          'event': 'select_tipPto',
          'tipo': 'job_positions',
          'url': '/job-positions-type/search',
          'data': '',
          'metodo': 'GET',
          'header': 'x-www-form-urlencoded'
      }])
      methodsBus.$emit('listarAjax', [{
          'event': 'select_tipNom',
          'tipo': 'job_positions',
          'url': '/payroll-type/search',
          'data': '',
          'metodo': 'GET',
          'header': 'x-www-form-urlencoded'
      }])
    },
    beforeCreate(){
        dataBus.$on('upDateResp', (updtResp) => {
            let echo = '',
            msg = ''
            updtResp.success === true ? (echo = 'success', msg = updtResp.message) : (echo = 'warning', msg = updtResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (updtResp.success) {
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                dataBus.$emit('btnsToggle_job-positions', allInpts, "");
                eventBus.$emit('echo_job-positions', true)
                eventData.$emit('offPaginador_job-positions', 0)
            }
        })
        dataBus.$on('saveResp', (saveResp) => {
            let echo = '',
            msg = ''
            saveResp.success === true ? (echo = 'success', msg = saveResp.message) : (echo = 'warning', msg = saveResp.message.es[0])
            swal(msg, {
                icon: echo,
                buttons: false,
                timer: 2000
            })
            if (saveResp.success) {
                dataBus.$emit('btnsToggle_job-positions', allInpts, "");
                this.inputsClear()
                dataBus.$emit('refresTable', 0)
                eventData.$emit('offPaginador_job-positions', 0)
            }
        })
        dataBus.$on('paraEliminar_job-positions', (borrar, listDel) => {
            this.borrar = borrar
            this.listDel = listDel
        })
        dataBus.$on('select_tipPto', (tipoPuestos) => {
            this.tipoPuestos = tipoPuestos
        })
        dataBus.$on('select_tipNom', (tipoNomina) => {
            this.tipNomina = tipoNomina
        })
        // Para llenar el formulario
        dataBus.$on('lAjaxResp_job-positions', (resp) => {
            $('#idTipoPto').val(resp[0].job_position_type_id)
            $('#idTipoNom').val(resp[0].payroll_type_id)
            this.descPto = resp[0].description
            this.idPuestoe = resp[0].job_position_id
            $(".form label").addClass('active')
            dataBus.$emit('btnsEdit_job-positions', 1);
        })
        // Para el DataTable
        methodsBus.$emit('listarAjax', [{ 
            'event': 'dataTable_job-positions',
            'tipo': 'job_positions',
            'url': '/job-positions/data-viewer?column=job_position_id&direction=asc&search_operator=like&search_input=&per_page=5',
            'data': '',
            'metodo': 'GET',
            'header': 'x-www-form-urlencoded'
        }])
    }
}
</script>
<style scoped>

</style>
<style>

</style>
