<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import { dataBus } from './main.js';
import { methodsBus } from './main.js';
import login from './components/login.vue';



export default {
  name: 'siafi',
  components: {
    login: login
  },
  data () {
    return {
      logueado: false
    }
  },
  methods: {
  },
  create(){
    dataBus.$emit('usuario', this.logueado)
  },
  beforeCreated(){
  }
}
</script>
<style scoped>

</style>

<style>
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* @import './src/assets/css/style.css';
@import './src/assets/css/style-Siafi.css';
@import './src/assets/css/bootstrap-material-min.css';
@import './src/assets/css/bootstrap.css'; */
</style>
